{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container menu-close">
    <summary
      class="header__icon  focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <div class="header__icon--menu">
        <div class="header__icon__inner"></div>
      </div>
      <span class="visually-hidden"> Toggle Menu </span>
    </summary>
    <div id="menu-drawer" class="menu-drawer motion-reduce">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu" role="list">
              {%- for link in section.settings.mobile_menu_primary.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <div class="menu-drawer__menu-item  " id="{{ link.title | escape }}">
                      {{ link.title | escape }}
                    </div>
                    <ul
                      class="menu-drawer__menu__list"
                      role="list"
                      tabindex="-1"
                      aria-labelledby="{{ link.title | escape }}"
                    >
                      {%- for childlink in link.links -%}
                        <li>
                          {%- if childlink.links == blank -%}
                            <a
                              href="{{ childlink.url }}"
                              class="menu-drawer__menu-item   menu-drawer__menu-subitem  list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                              {% if childlink.current %}
                                aria-current="page"
                              {% endif %}
                            >
                              {{ childlink.title | escape }}
                            </a>
                          {%- else -%}
                            <div
                              class="menu-drawer__menu-item menu-drawer__menu-subitem"
                              id="{{ childlink.title | escape }}"
                            >
                              {{ childlink.title | escape }}
                            </div>
                            <ul
                              class="menu-drawer__menu__list menu-drawer__menu__child-list"
                              role="list"
                              tabindex="-1"
                              aria-labelledby="{{ childlink.title | escape }}"
                            >
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a
                                    href="{{ grandchildlink.url }}"
                                    class="menu-drawer__menu-item  menu-drawer__menu-child-item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if grandchildlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- else -%}
                    <a
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item  menu-drawer__menu-item--no-children   focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

            <div class="menu-drawer__utility-links  hide-for-large-up">
              <div class="menu-drawer-search  hide-for-large-up">
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="search__input-container  page-width">
                      <input
                        class="search__input"
                        id="Search-In-Modal-1"
                        type="search"
                        name="q"
                        value=""
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      >
                      <label data-search-input-label class="search__label" for="Search-In-Modal-1">
                        {{- 'general.search.search' | t -}}
                      </label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-search">
                        </svg>
                      </button>
                    </div>
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          role="presentation"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  </form>
                </predictive-search>
              </div>

              <ul>
                {%- for link in section.settings.mobile_menu_secondary.links -%}
                  <li>
                    <a
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item  menu-drawer__menu-item--utility-link {% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
