{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<style>
  .share-button__button {
    width: 100%;
  }

  .share-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .share-buttons-container button.swym-button {
    display: flex;
    background-color: rgb(var(--color-base-background-2));
    border: 1px solid transparent;
    color: rgb(var(--color-base-text-1));
    font-weight: var(--font-weight-bold);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: var(--tertiary-font-family);
    text-decoration: none;
    letter-spacing: 3px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: var(--mini) !important;
    padding-left: var(--level4) !important;
    padding-right: var(--level4) !important;
  }

  .button.swym-button:focus,
  .button.swym-button:hover {
    border: 1px solid rgb(var(--color-base-text-1)) !important;
  }
</style>

<div class="share-buttons-container">
  <button
    class="swym-button swym-add-to-wishlist button button--medium button--secondary button--full-width"
    data-with-epi="true"
    data-swaction="addToWishlist"
    data-product-id="{{ product.id }}"
    data-variant-id="{{ product.variants[0].id }}"
    data-product-url="{{ shop.url }}{{ product.url }}"
  >
    Favorite

    <span class="button__icon  svg-wrapper">{{ 'icon-favorite.svg' | inline_asset_content }}</span>
  </button>

  <share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
    <button class="share-button__button  button button--medium  button--secondary   hidden  button--full-width">
      {{ block.settings.share_label | escape }}

      <span class="button__icon  svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
    </button>

    <details id="Details-{{ block.id }}-{{ section.id }}">
      <summary class="share-button__button">
        <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
        {{ block.settings.share_label | escape }}
      </summary>
      <div class="share-button__fallback motion-reduce">
        <div class="field">
          <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
          <input
            type="text"
            class="field__input"
            id="ShareUrl-{{ section.id }}"
            value="{{ share_link }}"
            placeholder="{{ 'general.share.share_url' | t }}"
            onclick="this.select();"
            readonly
          >
          <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
        </div>
        <button class="share-button__close hidden">
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
          <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
        </button>
        <button class="share-button__copy">
          <span class="svg-wrapper">
            {{- 'icon-copy.svg' | inline_asset_content -}}
          </span>
          <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
        </button>
      </div>
    </details>
  </share-button>
</div>
