{{ 'section-about-founder.css' | asset_url | stylesheet_tag }}

<section class="about-founder" id="founder">
  <div class="about-founder__inner page-width is-small">
    <div class="about-founder__images">
      <div class="about-founder__main-image">
        <div class="about-founder__main-image__inner">
          {% if section.settings.main_image != blank %}
            <img
              src="{{ section.settings.main_image | img_url: 'master' }}"
              alt="{{ section.settings.heading | strip_html }}"
              width="{{ section.settings.main_image.width }}"
              height="{{ section.settings.main_image.height }}"
              class="responsive-image"
            >
          {% endif %}
        </div>
      </div>
      <div class="about-founder__secondary-image">
        <div class="about-founder__secondary-image__inner">
          {% if section.settings.secondary_image != blank %}
            <img
              src="{{ section.settings.secondary_image | img_url: 'master' }}"
              alt="{{ section.settings.heading | strip_html }}"
              width="{{ section.settings.secondary_image.width }}"
              height="{{ section.settings.secondary_image.height }}"
              class="responsive-image"
            >
          {% endif %}
        </div>
      </div>
    </div>

    <div
      class="about-founder__bio"
    >
      <h2 class="about-founder__heading">
        {{ section.settings.heading }}
      </h2>
      <div class="about-founder__body">
        {{ section.settings.body }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About -  Founder",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "heading",
      "type": "richtext",
      "label": "Heading",
      "default": "<p>from The Founderr</p>"
    },
    {
      "id": "body",
      "type": "richtext",
      "label": "Body Copy",
      "default": "<p>Our founder has a rich history in the industry, bringing years of experience and passion to the company.</p>"
    },
    {
      "id": "main_image",
      "type": "image_picker",
      "label": "Main Image"
    },
    {
      "id": "secondary_image",
      "type": "image_picker",
      "label": "Secondary Image",
      "info": "(Only shows on mobile)"
    }
  ],
  "presets": [
    {
      "name": "About - Founder",
      "category": "About"
    }
  ]
}
{% endschema %}
