{{ 'section-about-process.css' | asset_url | stylesheet_tag }}

<section class="about-process">
  <div class="about-process__inner page-width is-small">
    <h2 class="about-process__heading animate-text">
      {{ section.settings.heading }}
    </h2>
    <div class="about-process__body">
      {{ section.settings.body }}
    </div>
    <div class="about-process__main-image">
      <div class="about-process__main-image__inner">
        {% if section.settings.main_image != blank %}
          <img
            srcset="
              {%- if section.settings.main_image.width >= 165 -%}{{ section.settings.main_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.main_image.width >= 360 -%}{{ section.settings.main_image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.main_image.width >= 533 -%}{{ section.settings.main_image | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if section.settings.main_image.width >= 720 -%}{{ section.settings.main_image | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if section.settings.main_image.width >= 940 -%}{{ section.settings.main_image | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if section.settings.main_image.width >= 1066 -%}{{ section.settings.main_image | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ section.settings.main_image | image_url }} {{ section.settings.main_image.width }}w
            "
            src="{{ section.settings.main_image | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 700px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ section.settings.main_image.alt | escape }}"
            class="motion-reduce responsive-image"
            loading="lazy"
            width="{{ section.settings.main_image.width }}"
            height="{{ section.settings.main_image.height }}"
          >
        {% endif %}
      </div>
    </div>
    <div class="about-process__secondary-image">
      <div class="about-process__secondary-image__inner">
        {% if section.settings.secondary_image != blank %}
          <img
            srcset="
              {%- if section.settings.secondary_image.width >= 165 -%}{{ section.settings.secondary_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.secondary_image.width >= 360 -%}{{ section.settings.secondary_image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.secondary_image.width >= 533 -%}{{ section.settings.secondary_image | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if section.settings.secondary_image.width >= 720 -%}{{ section.settings.secondary_image | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if section.settings.secondary_image.width >= 940 -%}{{ section.settings.secondary_image | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if section.settings.secondary_image.width >= 1066 -%}{{ section.settings.secondary_image | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ section.settings.secondary_image | image_url }} {{ section.settings.secondary_image.width }}w
            "
            src="{{ section.settings.secondary_image | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 700px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ section.settings.secondary_image.alt | escape }}"
            class="motion-reduce responsive-image"
            loading="lazy"

            width="{{ section.settings.secondary_image.width }}"
            height="{{ section.settings.secondary_image.height }}"
          >
        {% endif %}
      </div>
    </div>

    <div class="about-process__card">
      <div class="about-process__card-body">
        {{ section.settings.card_body }}
      </div>
      <div class="about-process__card-cta">
        <a href="{{ section.settings.card_link }}" class="button button--primary  button--medium">
          {{ section.settings.card_cta }}
        </a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About - Process",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Main Content"
    },
    {
      "id": "main_image",
      "type": "image_picker",
      "label": "Main Image"
    },
    {
      "id": "secondary_image",
      "type": "image_picker",
      "label": "Secondary Image",
      "info": "(Hidden on mobile)"
    },
    {
      "id": "heading",
      "type": "richtext",
      "label": "Main Heading"
    },
    {
      "id": "body",
      "type": "richtext",
      "label": "Body"
    },
    {
      "type": "header",
      "content": "Card"
    },
    {
      "id": "card_body",
      "type": "richtext",
      "label": "Card Body Copy"
    },
    {
      "id": "card_cta",
      "type": "text",
      "label": "Card CTA",
      "default": "Explore More"
    },
    {
      "id": "card_link",
      "type": "url",
      "label": "Card Link"
    }
  ],
  "presets": [
    {
      "name": "About - Process"
    }
  ]
}
{% endschema %}
