{{ 'section-about-philosophy.css' | asset_url | stylesheet_tag }}

<section class="about-philosophy" id="philosophy">
  <div class="about-philosophy__inner page-width is-small">
    <h2 class="about-philosophy__heading animate-text">
      {{ section.settings.heading }}
    </h2>
    <div class="about-philosophy__quote ">
      {{ section.settings.quote }}
    </div>
    <div class="about-philosophy__body">
      {{ section.settings.body }}
    </div>
    <div class="about-philosophy__image">
      <div class="about-philosophy__image__inner">
        {% if section.settings.image != blank %}
          <img
            src="{{ section.settings.image | img_url: 'master' }}"
            alt="{{ section.settings.heading | strip_html }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
            class="responsive-image"
          >
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About - Philosophy",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "heading",
      "type": "richtext",
      "label": "Heading",
      "default": "<p>Our Philosophy</p>"
    },
    {
      "id": "body",
      "type": "richtext",
      "label": "Body Copy",
      "default": "<p>Every bride is unique, and so is every gown. From dramatic trains to plunging necklines, our customizable designs are crafted to make you feel like the most confident version of yourself. Effortlessly refined, unstoppably supportive—each piece is a reflection of your distinct style.</p>"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Quote"
    },
    {
      "id": "quote",
      "type": "richtext",
      "label": "Quote",
      "default": "<p>“Uniquely you, effortlessly refined—our gowns celebrate your individuality.”</p>"
    }
  ],
  "presets": [
    {
      "name": "About - Philosophy",
      "category": "About"
    }
  ]
}
{% endschema %}
