{{ 'section-appointment-info.css' | asset_url | stylesheet_tag }}

<!-- Appointment Info Section -->
<section>
  <div class="appointment-info-section">
    <div class="appointment-info__inner page-width is-small">
      <div class="appointment-info__header">
        <h2 class="appointment-info__heading">{{ section.settings.heading }}</h2>
      </div>
      <div class="appointment-info__body">
        <custom-slideshow
          class="appointment-info__body__inner"
          slidesPerView="1"
          pagination="true"
          navigation="true"
          loop="false"
          spaceBetween="0"
          effect="fade"
          disableOn="largeUp"
        >
          {% for block in section.blocks %}
            <div class="appointment-info__step">
              <h3 class="appointment-info__step__heading">{{ block.settings.heading }}</h3>
              <div class="appointment-info__step__body">
                {{ block.settings.rich_text }}
              </div>
            </div>
          {% endfor %}
        </custom-slideshow>
      </div>
    </div>
  </div>
</section>

<script type="module" src="{{ 'custom-slideshow.js' | asset_url }}" defer="defer"></script>

{{ 'vendor-swiper.css' | asset_url | stylesheet_tag: preload: true }}

{% schema %}
{
  "name": "Appointments Info",
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Before Your Appointment</p>"
    }
  ],
  "blocks": [
    {
      "type": "text_column",
      "name": "Text Column",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "01 Preparing For Appointment"
        },
        {
          "type": "richtext",
          "id": "rich_text",
          "label": "Rich Text",
          "default": "<p>Our Chicago flagship showroom is open by appointment only on Fridays and Saturdays. To make the most of your visit, we suggest wearing nude-colored seamless undergarments and bringing any wedding day accessories, like jewelry, shoes, or a veil. </p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Columns",
      "category": "Custom"
    }
  ],
  "max_blocks": 3
}
{% endschema %}
