<link
  rel="preload"
  href="{{ 'section-article-image-with-text.css' | asset_url }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>

<div class="article-image-with-text {% if section.settings.image_position == "left" %} article-image-with-text--left {% endif %}">
  <div class="article-image-with-text__inner page-width is-x-small">
    <div class="article-image-with-text__copy">
      <h2 class="article-image-with-text__heading">{{ section.settings.heading }}</h2>

      <div class="article-image-with-text__body">
        {{ section.settings.body }}
      </div>
    </div>

    <div class="article-image-with-text__image">
      <div class="article-image-with-text__image__inner">
        {% if section.settings.image != blank %}
          <img
            srcset="
              {%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
              {{ section.settings.image | image_url }} {{ section.settings.image.width }}w
            "
            src="{{ section.settings.image | image_url: width: 533 }}"
            sizes="(min-width: 940px) 50vw, (min-width: 700px) 30vw, 100vw"
            alt="{{ section.settings.image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.height }}"
            class="responsive-image"
          >
        {% else %}
          <img
            alt="placeholder image"
            src="https://cdn.shopify.com/s/files/1/0638/6201/4197/files/v80_995_003f6351-e25d-4e00-9d4f-99cd3ff68103.png?v=1692212195"
            loading="lazy"
            width="500"
            height="auto"
            class="responsive-image"
          >
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article Image & Text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "LOREM IPSUM"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "Body",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipe.</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Section Image"
    },
    {
      "type": "select",
      "label": "Image Position",
      "id": "image_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right",
      "info": "Select the placement of the image."
    }
  ],
  "presets": [
    {
      "name": "Article Image & text"
    }
  ]
}
{% endschema %}
