{{ 'section-content-slideshow.css' | asset_url | stylesheet_tag }}

<section
  class="content-slideshow {% if section.settings.top_border == 'yes' %}has-top-border{% endif %} {% if section.settings.bottom_border == 'yes' %}has-bottom-border{% endif %}"
  {% if section.settings.trigger_email_popup %}
    data-trigger-pop-up
  {% endif %}
>
  <div class="content-slideshow__inner page-width-on-medium-up">
    <div class="content-slideshow__images-slideshow">
      <div class="content-slideshow__images-slideshow__inner">
        <custom-slideshow
          centeredSlides="true"
          centeredSlidesBounds="true"
          content-slideshow-images
          fadeOnLargeUp="true"
          freeMode="false"
          pagination="false"
          preventLoad="true"
          navigation="true"
          slidesPerView="auto"
          spaceBetween="20"
        >
          {% for block in section.blocks %}
            <div class="content-slideshow__image">
              <div class="content-slideshow__image-inner">
                <div class="content-slideshow__image-wrapper">
                  {% assign image_url = block.settings.image %}
                  {% comment %} <div class="swiper-lazy-preloader"></div> {% endcomment %}

                  <img
                    srcset="
                      {%- if image_url.width >= 165 -%}{{ image_url | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if image_url.width >= 360 -%}{{ image_url | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if image_url.width >= 533 -%}{{ image_url | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if image_url.width >= 720 -%}{{ image_url | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if image_url.width >= 800 -%}{{ image_url | image_url: width: 800 }} 800w,{%- endif -%}
                      {%- if image_url.width >= 940 -%}{{ image_url | image_url: width: 940 }} 940w,{%- endif -%}
                      {%- if image_url.width >= 1066 -%}{{ image_url | image_url: width: 1066 }} 1066w,{%- endif -%}
                      {{ image_url | image_url }} {{ image_url.width }}w
                    "
                    src="{{ image_url | image_url: width: 533 }}"
                    sizes="(min-width: 700px) 50vw, 90vw"
                    alt="{{ image_url.alt | escape }}"
                    class="responsive-image  motion-reduce"
                    loading="lazy"
                    width="{{ image_url.width }}"
                    height="{{ image_url.height }}"
                  >
                </div>
              </div>
            </div>
          {% endfor %}
        </custom-slideshow>
      </div>
    </div>
    <div class="content-slideshow__copy-slideshow ">
      <custom-slideshow
        content-slideshow-copy
        autoHeight="false"
        centeredSlides="true"
        centeredSlidesBounds="true"
        controlContainer="[content-slideshow-images]"
        effect="fade"
        freeMode="false"
        numberPagination="true"
        pagination="true"
        slidesPerView="1"
        spaceBetween="20"
        draggable="false"
        navigation="true"
        breakpoints='{"700px": {"allowTouchMove": false}}'
      >
        {% for block in section.blocks %}
          <div class="content-slideshow__copy">
            <div class="content-slideshow__copy__inner">
              <div class="content-slideshow__copy__header">
                <h2 class="content-slideshow__copy__heading">
                  {{ block.settings.heading }}
                </h2>
                <p class="content-slideshow__copy__subline">0{{ forloop.index }}</p>
              </div>
              <div class="block-rich-text  content-slideshow__copy__body">
                {{ block.settings.body }}
              </div>
            </div>
          </div>
        {% endfor %}
      </custom-slideshow>
    </div>
  </div>
</section>

<script type="module" src="{{ 'custom-slideshow.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Content Slideshow",
  "max_blocks": 7,
  "templates": ["index", "product", "page"],
  "settings": [
    {
      "type": "radio",
      "id": "top_border",
      "label": "Top Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no",
      "info": "Choose whether to display a top border for the content slideshow section."
    },
    {
      "type": "radio",
      "id": "bottom_border",
      "label": "Bottom Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes",
      "info": "Choose whether to display a bottom border for the content slideshow section."
    },
    {
      "type": "checkbox",
      "id": "trigger_email_popup",
      "label": "Trigger Email Pop Up",
      "info": "If checked, this section will trigger the email pop up.",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image",
          "info": "Upload an image for this slide."
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "heading",
          "info": "Enter the heading for this slide."
        },
        {
          "type": "richtext",
          "label": "Rich Text",
          "id": "body",
          "info": "Add detailed information for this slide using rich text formatting."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Slideshow",
      "category": "Sections"
    }
  ]
}
{% endschema %}
