<link rel="stylesheet" href="{{ 'section-faq.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'faq-list.js' | asset_url }}" defer="defer"></script>

<!-- FAQs Section -->
<faq-list>
  <section class="faq-section">
    <div class="faq-section__inner page-width">
      <h2 class="faq-section__heading">{{ section.settings.heading }}</h2>

      <div class="faq-section__questions-list">
        {% for block in section.blocks %}
          <details class="faq-item" data-id="faq-{{ forloop.index }}" {{ block.shopify_attributes }}>
            <summary
              class="faq-item__question"
              aria-expanded="false"
              aria-label="Open FAQ answer for question {{ forloop.index }}"
              data-id="{{ forloop.index }}"
            >
              {{ block.settings.question }}
              <span class="faq-item__icon">
                <svg class="open-icon">
                  <use href="#icon-plus-sign"/>
                </svg>
                <svg class="close-icon">
                  <use href="#icon-negative-sign"/>
                </svg>
              </span>
            </summary>
            <div class="faq-item__answer" data-faq-answer data-answer-id="{{ forloop.index }}">
              {{ block.settings.answer }}
            </div>
          </details>
        {% endfor %}
      </div>
    </div>
  </section>
</faq-list>

{% schema %}
{
  "name": "FAQ Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "faq_block",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Section"
    }
  ]
}
{% endschema %}
