<style>
  @media screen and (min-width: 940px) {
    .collection-thumb-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: calc(var(--level10) + var(--level2));
    }
  }

  .collection-thumb {
    margin-bottom: calc(var(--level10) + var(--level3));
  }

  @media screen and (min-width: 940px) {
    .collection-thumb {
      margin-bottom: 0;
    }
  }

  .collection-thumb__image {
    margin-bottom: var(--level7);
    display: block;
  }

  .collection-thumb__image__inner {
    position: relative;
    padding-bottom: 130%;
    display: block;
  }

  .collection-thumb__info {
    text-align: center;
  }
  .collection-thumb__info__title {
    text-align: center;
    font-family: var(--secondary-font-family);
    margin-bottom: var(--level7);
    font-size: var(--h2);
  }
</style>

<!-- sections/featured-collections.liquid -->
<section id="featured-collections" class="featured-collections">
  <div class="featured-collections__inner page-width">
    <div class="collection-thumb-list">
      {% for block in section.blocks %}
        {% if block.type == 'collection' %}
          {% assign collection = block.settings.collection %}
          {% if collection %}
            <div class="collection-thumb">
              <div class="collection-thumb__inner">
                <a href="{{ collection.url }}" class="collection-thumb__image">
                  <div class="collection-thumb__image__inner">
                    <img
                      srcset="
                        {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if collection.image.width >= 533 -%}{{ collection.image | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if collection.image.width >= 720 -%}{{ collection.image | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if collection.image.width >= 940 -%}{{ collection.image | image_url: width: 940 }} 940w,{%- endif -%}
                        {{ collection.image | image_url }} {{ collection.image.width }}w
                      "
                      src="{{ collection.image | image_url: width: 533 }}"
                      sizes="(min-width: 940px) 30vw, 50vw"
                      alt="{{ collection.image.alt | escape }}"
                      class="motion-reduce responsive-image"
                      aria-hidden="true"
                      loading="lazy"
                      width="{{ collection.image.width }}"
                      height="{{ collection.image.height }}"
                    >
                  </div>
                </a>
                <div class="collection-thumb__info">
                  <h2 class="collection-thumb__info__title">{{ collection.title }}</h2>
                  <a
                    href="{{ collection.url }}"
                    class="collection-thumb__info__cta button button--primary button--medium"
                  >
                    Explore More
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Collections",
  "settings": [],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collections",
      "category": "Custom"
    }
  ]
}
{% endschema %}
