{{ 'section-featured-events.css' | asset_url | stylesheet_tag }}
{{ 'vendor-swiper.css' | asset_url | stylesheet_tag }}
<script type="module" src="{{ 'custom-slideshow.js' | asset_url }}"></script>

<div class="featured-events">
  <section class="featured-events__inner">
    <div class="featured-events__header">
      <div class="page-width">
        <h2 class="featured-events__heading">
          {{ section.settings.heading }}
          <span> Events </span>
        </h2>
      </div>
    </div>

    {% assign selected_blog = section.settings.selected_blog %}
    {% assign events = blogs[selected_blog].articles | sort: 'metafields.details.date' | reverse %}

    <div class="page-width">
      <div class="featured-events__list">
        <custom-slideshow
          slidesPerView="auto"
          spaceBetween="20px"
          loop="false"
          disableOn="largeUp"
        >
          {% assign sorted_events = events | sort: 'metafields.details.date' | reverse %}
          {% for event in sorted_events limit: 6 %}
            {% render 'event-card', article: event, alt_style: false %}
          {% endfor %}
        </custom-slideshow>
      </div>
    </div>

    <div class="featured-events__cta">
      <a href="{{ section.settings.cta_link }}" class="button button--primary button--medium">
        {{ section.settings.cta_label }}
      </a>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Featured Events",
  "enabled_on": {
    "templates": ["page", "index"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "blog",
      "id": "selected_blog",
      "label": "Select Blog"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Label"
    }
  ],
  "presets": [
    {
      "name": "Featured Events"
    }
  ]
}
{% endschema %}
