{{ 'section-featured-on.css' | asset_url | stylesheet_tag }}
<section class="featured-on">
  <div class="featured-on__inner page-width">
    <div class="featured-on__header">
      <h2>
        {{ section.settings.headline }}
      </h2>
    </div>
    <ul class="featured-on__logos">
      {% for block in section.blocks %}
        <li class="featured-on__logo">
          <div class="featured-on__logo_inner">
            {% if block.settings.image != blank %}
              <img
                srcset="
                  {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                "
                src="{{ block.settings.image | image_url: width: 533 }}"
                sizes="(min-width: 940px) 30vw, 50vw"
                alt="{{ block.settings.alt_text | escape }}"
                class="motion-reduce"
                loading="lazy"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
              >
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Featured On",
  "settings": [
    {
      "type": "richtext",
      "id": "headline",
      "label": "Headline"
    }
  ],
  "enabled_on": {
    "templates": ["index", "page", "product"]
  },
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Logo Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured On",
      "category": "Custom"
    }
  ],
  "max_blocks": 6
}
{% endschema %}
