{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-footer.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer">
  <div class="footer__inner page-width">
    {%- if section.settings.newsletter_enable -%}
      <div class="footer__newsletter">
        <div class="newsletter-form">
          {%- if section.settings.newsletter_heading != blank -%}
            <h2 class="footer__block__heading  newsletter-form__heading">
              {{ section.settings.newsletter_heading | escape }}
            </h2>
          {%- endif -%}
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">

            <div class="newsletter-form__field-wrapper">
              <div class="newsletter-form__field">
                <custom-input-wrapper class="custom-field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="newsletter-form__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    required
                  >
                  <label class="newsletter-form__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                </custom-input-wrapper>
                <button type="submit" class="newsletter-form__button" name="commit" id="Subscribe">
                  {{ 'newsletter.button_label' | t }}
                </button>
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="ContactFooter-error">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="ContactFooter-success"
                tabindex="-1"
                autofocus
              >
                {{ 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {%- endform -%}
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="footer__blocks">
        {%- for block in section.blocks -%}
          <div class="footer__block">
            {%- if block.settings.heading != blank -%}
              <h2 class="footer__block__heading visually-hidden" id="{{- block.settings.heading | escape -}}">
                {{- block.settings.heading | escape -}}
              </h2>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                  <ul class="footer__block__links-list" aira-describedby="{{- block.settings.heading | escape -}}">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a
                          href="{{ link.url }}"
                          data-green-dot-cursor
                          class="footer__block__link {% if link.active %} footer__block__link--active{% endif %}"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'contact_emails' -%}
                {%- if block.settings.heading != blank -%}
                  <h2
                    class="footer__block__heading  footer__block__heading--contact "
                    id="{{- block.settings.heading | escape -}}"
                  >
                    {{- block.settings.heading | escape -}}
                  </h2>
                {%- endif -%}
                <ul class="footer__block__contact" aria-describedby="{{- block.settings.heading | escape -}}">
                  {% if block.settings.general_email %}
                    <li>
                      <div class="utility-links__contact__email">
                        <span class="email__label"> General <span class="visually-hidden">Inquiries</span> </span>
                        <a href="mailto:{{ block.settings.general_email }}" tile="Contact us about general inquiries">
                          {{ block.settings.general_email }}
                        </a>
                      </div>
                    </li>
                  {% endif %}

                  {% if block.settings.orders_email %}
                    <li>
                      <div class="utility-links__contact__email">
                        <span class="email__label"> Orders <span class="visually-hidden">Inquiries</span> </span>
                        <a href="mailto:{{ block.settings.orders_email }}" tile="Contact us about your order">
                          {{ block.settings.orders_email }}
                        </a>
                      </div>
                    </li>
                  {% endif %}
                </ul>
              {%- when 'social_media' -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer__block__heading  visually-hidden " id="{{- block.settings.heading | escape -}}">
                    {{- block.settings.heading | escape -}}
                  </h2>
                  <ul class="footer__block__social-media" aria-describedby="{{- block.settings.heading | escape -}}">
                    {% if settings.social_instagram_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_instagram_link }}">
                          Instagram
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_facebook_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_facebook_link }}">
                          Facebook
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_twitter_link }}">
                          Twitter
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_pinterest_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_pinterest_link }}">
                          Pinterest
                        </a>
                      </li>
                    {% endif %}

                    {% if settings.social_tiktok_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_tiktok_link }}">
                          TikTok
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_snapchat_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_snapchat_link }}">
                          Snapchat
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_youtube_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_youtube_link }}">
                          YouTube
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_vimeo_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_vimeo_link }}">
                          Vimeo
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                {%- endif -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__logo-container">
        <svg class="footer__logo" title="{{ shop.name }}" focusable="false">
          <use href="#brand-logo">
        </svg>
      </div>
      <div class="footer__copyright">
        <small class="copyright__content">Copyright &copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</small>
      </div>
    </div>
  </div>
</footer>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
    <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
    </symbol>

    <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
      <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
      <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
      <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    </symbol>

    <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
      <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
    </symbol>

    <symbol id="directional-arrow">
      <path  d="M7.293 110.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 1 0-1.414-1.414L8 108.586l-5.657-5.657a1 1 0 1 0-1.414 1.414l6.364 6.364ZM7 0v110h2V0H7Z"/>
    </symbol>

      <symbol id="illust-flower-default"
      	 viewBox="0 0 380.3 434" style="enable-background:new 0 0 380.3 434;" xml:space="preserve">
      <style type="text/css">
      	.st0{fill:#F8F7EE;}
      	.st1{fill:#FFFFFF;}
      </style>
      <g>
      	<path d="M319.1,297.7c-12.5,0.7-24.8-2.7-37.1-6.7c-7.2-2.3-14.7-3.8-22.1-5.6c-1.6-0.4-2.4,0.2-2.7,1.9c-2,11.9-1.1,23.7,1.3,35.4
      		c1.7,8.3,3.1,16.6,4.9,24.9c2.5,11.5,3.5,23,2.1,34.7c-0.8,7.4-3,14.6-5.8,21.5c-2.7,6.6-6.2,12.8-11,18.2
      		c-7.6,8.5-17,13.4-28.6,11.8c-4.3-0.6-8.6-2.5-12.5-4.6c-8-4.2-16.4-6.9-25.1-9.1c-12.4-3.1-24.8-6.6-36.3-12.3
      		c-15-7.5-29.1-16.4-40.6-28.9c-2.9-3.1-4.1-7-4.8-11c-1-5.1-1.4-10.4-1.9-15.6c-0.8-9.5,2.1-18,7.9-25.2c5.3-6.7,11.3-13,17.2-19.3
      		c7.1-7.6,14.8-14.8,19.2-24.5c1.9-4.1,2.9-8.6,3.8-13c0.9-4.3-1.8-7.2-5.4-8.9c-5.5-2.6-11.5-3.4-17.7-2.8
      		c-14.1,1.3-26.5,7.4-39.1,12.8c-12,5.1-23.8,10.7-35.8,15.7c-6.5,2.7-13.2,4.8-20.5,4.4c-8.1-0.5-14.1-4.4-18.5-10.9
      		c-4.9-7.3-7.1-15.7-8.8-24.3c-1.7-8.3-1.6-16.6-1-24.9c0.5-8,2.6-15.8,5.5-23.4c4.8-12.8,11.6-24.4,21.6-33.8
      		c5.3-5,11.4-9.2,17.4-13.6c5.7-4.1,7.5-12.1,5.2-18.2c-2.8-7.6-7.5-14.2-11.1-21.3c-4.8-9.3-8.5-19-11.5-29
      		c-0.7-2.3-0.9-4.9-0.9-7.4c0.1-7.5,0-15,0.8-22.5C28.4,52.2,30,42,36.9,34c3.9-4.5,8.7-8.4,13.3-12.2c6.5-4.9,13-9.9,19.5-14.8
      		c4.1-3.1,8.5-5.7,13.7-6.7c7.7-1.4,13.4,2.1,18.5,7.3c6.5,6.6,12.7,13.9,21.1,18.2c7,3.6,14.5,6.3,21.9,9.2
      		c9.6,3.8,19.3,7.3,28.8,11.2c10.2,4.2,16.1,12.1,18.3,22.8c1.7,8.4,3.1,16.9,4.7,25.4c0.9,4.7,1.7,9.5,3,14.1c1.9,7,5.9,9.3,13.1,9
      		c8.8-0.3,16.9-3.3,24.8-6.7c8.6-3.7,16.9-8,25.5-11.6c4.3-1.8,9-2.5,13.6-3.6c7.6-1.9,15.3-1.4,22.8-0.5c9,1.1,17.7,3.7,26.1,7.4
      		c8.7,3.9,15.9,9.3,20.9,17.3c2,3.3,3.5,7.2,4.1,11c1,6.8,0.9,13.8,1.8,20.6c0.8,6.6,1.5,13.5,3.6,19.8c4.5,13.5,9.9,26.7,14.7,40.2
      		c2.6,7.4,4.8,14.9,7.2,22.4c2.6,8.2,2.8,16.7,2.3,25.2c-0.6,9.8-3.1,19.1-11.2,25.5c-3.8,3-8.4,5.3-12.9,7.1
      		C344.3,296.1,332.2,298.2,319.1,297.7z M319.5,294.1c3.8-0.5,9.2-0.9,14.5-1.9c5.9-1.2,11.8-2.6,17.3-4.8c4.2-1.6,8.1-4.1,11.6-7
      		c5.1-4.1,6.8-10.2,7-16.6c0.1-3.6-0.5-7.3-0.7-10.9c-0.3-5.1-0.4-10.3-0.8-15.4c-0.2-3-0.2-6.1-1.2-8.8c-1.7-4.6-4.1-8.9-6.2-13.3
      		c-3-6.4-5.6-13.1-6.3-20.1c-1-9.3-1.5-18.5-3.8-27.7c-1.9-7.4-2.5-15.1-3.2-22.8c-0.8-8.8-4.5-16.1-10.8-22.1
      		c-5.3-5.1-11.7-8.5-18.4-11.5c-6.1-2.7-12.4-4.8-19.1-5.6c-2.8-0.3-5.6-0.5-8.4-0.9c-6.1-1-12.1-0.5-17.9,1.7
      		c-13.9,5.3-27.1,12.2-41.9,15.1c-7.8,1.6-15.5,1.7-23.2,1c-4.5-0.4-8.7-2.9-10.4-7.7c-1.1-3.4-1.9-7-2.5-10.5
      		c-0.7-4.2-0.6-8.7-1.8-12.7c-2.5-8.8-5.4-17.4-8.5-26c-1.9-5.2-5.3-9.2-11.3-10.4c-5.1-1-10.2-2-15-3.8
      		c-8.9-3.3-17.6-7.1-26.4-10.8c-4.8-2-8.7-5.2-10.5-10.4c-0.4-1.1-0.9-2.2-1.8-2.9c-3.6-3.2-7.5-6.2-11.1-9.5
      		c-3.3-3-6.9-5.9-9.7-9.3c-3.7-4.4-7.8-7.4-13.6-7.3c-1.4,0-2.8,0.4-4.1,0.8c-8.1,3-14.9,7.8-20,14.8c-1.4,1.9-2.7,3.7-4.1,5.5
      		c-4.2,5.1-8.7,9.9-12.5,15.3c-4.9,6.8-7.7,14.6-8.2,23C36,69.3,37.2,78,39.7,86.3c3,9.7,7,19.1,10.2,28.7c2,5.8,3.5,11.8,5,17.8
      		c0.6,2.4,0.6,4.9,1.1,7.4c1.1,5.2,0.5,10.3-1.6,15c-4.2,9.5-12.2,15.6-20.6,20.9c-10.4,6.5-16.6,15.4-19.2,27.1
      		c-1.2,5.3-3,10.4-4.3,15.6c-1.2,4.7-2.8,9.4-3.2,14.1c-0.8,11.2,1.6,21.8,6.9,31.7c4.3,7.9,10.6,13.5,19.9,14.6
      		c7.8,0.9,15.6,1.2,23.2-1.1c6.1-1.8,12.2-3.7,18.2-6.1c6.2-2.5,12.2-5.7,18.3-8.5c7-3.1,14.1-6.2,21.3-9.2
      		c4.7-1.9,9.7-2.9,14.7-2.3c4.6,0.5,9.2,1.8,13.6,3.2c5.1,1.6,8.9,4.9,8.3,11c-0.3,3.7-0.9,7.5-1.9,11.1
      		c-3.4,11.6-8.6,22.5-15.1,32.7c-1.9,3-4.3,5.7-6.7,8.2c-2.2,2.3-5.9,3.3-6.6,7c0,0.2-0.3,0.4-0.5,0.5c-4.9,2.3-6.6,7.3-9.2,11.5
      		c-2.8,4.4-1.9,9.5-2,14.3c-0.1,4.5,0.5,8.9,1.1,13.4c0.6,4.2,1.6,8.4,4.8,11.4c5.3,5.2,10.8,10.3,16.4,15.2
      		c7.2,6.4,15.1,11.8,24,15.4c5.4,2.2,10.9,4.1,16.5,5.7c6.2,1.8,12.5,3.3,18.8,4.9c5.2,1.3,10.4,2.4,15.6,3.7
      		c5.3,1.4,10.4,3.1,16.1,1.9c7-1.5,12.8-4.5,17.5-9.9c5-5.8,8.8-12.2,11.5-19.4c3.9-10.4,6.6-20.9,6.6-32c0-5.6-0.3-11.1-0.8-16.7
      		c-0.4-4.3-1.1-8.5-1.9-12.7c-0.8-4.6-2.2-9.2-2.7-13.8c-0.8-8.5-1.2-17-1.5-25.6c-0.1-2.5,0.7-5.1,1.5-7.5c0.7-2.2,2.5-3.9,4.8-4.1
      		c2.7-0.3,5.6-0.5,8.2,0.1c5.3,1.3,10.5,3.2,15.7,4.8c7.2,2.2,14.3,4.8,21.7,6.4C308.2,293.9,313,293.6,319.5,294.1z"/>
      	<path class="st0" d="M319.5,294.1c-6.4-0.4-11.3-0.2-15.8-1.2c-7.3-1.7-14.5-4.2-21.7-6.4c-5.2-1.6-10.4-3.5-15.7-4.8
      		c-2.6-0.6-5.5-0.4-8.2-0.1c-2.3,0.3-4.1,1.9-4.8,4.1c-0.8,2.4-1.6,5-1.5,7.5c0.3,8.5,0.7,17.1,1.5,25.6c0.4,4.6,1.8,9.2,2.7,13.8
      		c0.7,4.2,1.5,8.5,1.9,12.7c0.5,5.5,0.8,11.1,0.8,16.7c0,11.1-2.7,21.7-6.6,32c-2.7,7.2-6.5,13.7-11.5,19.4
      		c-4.7,5.4-10.5,8.4-17.5,9.9c-5.7,1.2-10.8-0.5-16.1-1.9c-5.2-1.3-10.4-2.4-15.6-3.7c-6.3-1.6-12.6-3-18.8-4.9
      		c-5.6-1.7-11.2-3.5-16.5-5.7c-8.9-3.7-16.8-9.1-24-15.4c-5.6-4.9-11-10-16.4-15.2c-3.2-3.1-4.2-7.2-4.8-11.4
      		c-0.6-4.4-1.2-8.9-1.1-13.4c0.1-4.8-0.8-10,2-14.3c2.6-4.1,4.3-9.1,9.2-11.5c0.2-0.1,0.5-0.3,0.5-0.5c0.7-3.8,4.4-4.7,6.6-7
      		c2.4-2.6,4.8-5.3,6.7-8.2c6.5-10.2,11.7-21,15.1-32.7c1-3.6,1.6-7.4,1.9-11.1c0.6-6.1-3.2-9.4-8.3-11c-4.5-1.4-9-2.6-13.6-3.2
      		c-5-0.6-10,0.4-14.7,2.3c-7.1,3-14.2,6-21.3,9.2c-6.1,2.7-12.1,5.9-18.3,8.5c-5.9,2.4-12,4.3-18.2,6.1c-7.6,2.3-15.4,2-23.2,1.1
      		c-9.3-1.1-15.6-6.7-19.9-14.6C9,255,6.6,244.3,7.4,233.1c0.3-4.8,2-9.5,3.2-14.1c1.4-5.2,3.1-10.4,4.3-15.6
      		c2.7-11.8,8.8-20.7,19.2-27.1c8.4-5.2,16.4-11.4,20.6-20.9c2.1-4.8,2.7-9.8,1.6-15c-0.5-2.4-0.5-5-1.1-7.4c-1.5-6-3.1-11.9-5-17.8
      		c-3.3-9.6-7.3-19-10.2-28.7c-2.5-8.3-3.7-17-3.2-25.7c0.4-8.4,3.2-16.2,8.2-23c3.9-5.3,8.4-10.2,12.5-15.3c1.5-1.8,2.8-3.7,4.1-5.5
      		c5-7.2,11.7-12,19.8-15c1.3-0.5,2.7-0.8,4.1-0.8c5.9-0.1,10,2.9,13.6,7.3c2.9,3.4,6.4,6.3,9.7,9.3c3.6,3.2,7.5,6.2,11.1,9.5
      		c0.8,0.7,1.4,1.9,1.8,2.9c1.9,5.2,5.7,8.4,10.5,10.4c8.7,3.7,17.5,7.5,26.4,10.8c4.8,1.8,9.9,2.8,15,3.8c6,1.2,9.4,5.2,11.3,10.4
      		c3.1,8.6,6,17.2,8.5,26c1.2,4.1,1,8.5,1.8,12.7c0.6,3.5,1.4,7.1,2.5,10.5c1.6,4.8,5.9,7.3,10.4,7.7c7.7,0.7,15.4,0.5,23.2-1
      		c14.8-2.9,28-9.9,41.9-15.1c5.8-2.2,11.7-2.7,17.9-1.7c2.8,0.5,5.6,0.6,8.4,0.9c6.7,0.8,13,2.8,19.1,5.6c6.7,3,13.1,6.4,18.4,11.5
      		c6.3,6,10,13.3,10.8,22.1c0.7,7.6,1.3,15.4,3.2,22.8c2.4,9.2,2.9,18.4,3.8,27.7c0.7,7,3.4,13.7,6.3,20.1c2.1,4.5,4.5,8.8,6.2,13.3
      		c1,2.7,1,5.8,1.2,8.8c0.4,5.1,0.5,10.3,0.8,15.4c0.2,3.6,0.8,7.3,0.7,10.9c-0.2,6.3-1.9,12.4-7,16.6c-3.5,2.8-7.5,5.4-11.6,7
      		c-5.6,2.2-11.5,3.6-17.3,4.8C328.7,293.2,323.3,293.6,319.5,294.1z M241.2,215.8c-2.3-2.7-4.1-5.3-6.4-7.4c-3.9-3.5-8-6.9-12.4-9.9
      		c-2.7-1.8-6-3.2-9.2-3.7c-4.5-0.8-9.3-0.6-13.9-1c-3.5-0.3-6.8-1.3-9-4.5c-0.5-0.7-1-1.5-1.7-2.6c-0.3,0.8-0.4,1.4-0.6,1.6
      		c-2.4,2-1.8,3.9-0.3,6.2c1,1.6,2.2,3.3,1.8,5.7c-0.2,1.2,1.4,2.9,2.6,3.8c1.7,1.3,3.7,2,5.6,3.1c1,0.6,2.3,1.2,2.9,2.1
      		c3,4.2,8.1,6.3,12.9,5.2c2.5-0.5,5.1-0.8,7.6-0.5c2.8,0.4,5.4,1.8,8.2,2.5C233.1,217.6,237,217.6,241.2,215.8z"/>
      	<path d="M241.2,215.8c-4.2,1.8-8.1,1.8-11.9,0.8c-2.8-0.7-5.4-2.1-8.2-2.5c-2.5-0.4-5.1-0.1-7.6,0.5c-4.8,1.1-9.9-1-12.9-5.2
      		c-0.7-0.9-1.9-1.5-2.9-2.1c-1.8-1.1-3.9-1.8-5.6-3.1c-1.2-0.9-2.7-2.7-2.6-3.8c0.3-2.4-0.8-4.1-1.8-5.7c-1.5-2.3-2-4.3,0.3-6.2
      		c0.3-0.2,0.3-0.7,0.6-1.6c0.7,1,1.2,1.8,1.7,2.6c2.2,3.2,5.5,4.2,9,4.5c4.6,0.4,9.3,0.2,13.9,1c3.2,0.6,6.5,1.9,9.2,3.7
      		c4.4,2.9,8.4,6.4,12.4,9.9C237,210.5,238.9,213.1,241.2,215.8z M237.4,214.1c-5.7-3.9-11.4-7.3-16.1-12.3c-3.4-3.6-8.3-3.4-12.7-4
      		c-2.7-0.4-5.4-0.7-8.2-0.9c-0.9-0.1-1.8,0.3-2.7,0.5c0.4,0.9,0.5,2.3,1.2,2.7c2.3,1.2,4.8,2.3,7.3,3.1c4.5,1.5,9.2,2.4,13.7,4.1
      		c3.4,1.3,6.3,3.5,9.7,4.9C232,213.1,234.8,213.4,237.4,214.1z"/>
      	<path class="st1" d="M237.4,214.1c-2.7-0.6-5.4-1-7.9-2c-3.3-1.4-6.3-3.6-9.7-4.9c-4.4-1.7-9.2-2.6-13.7-4.1
      		c-2.5-0.8-4.9-1.9-7.3-3.1c-0.7-0.4-0.8-1.7-1.2-2.7c0.9-0.2,1.8-0.5,2.7-0.5c2.7,0.2,5.4,0.5,8.2,0.9c4.5,0.6,9.3,0.4,12.7,4
      		C226,206.7,231.7,210.1,237.4,214.1z"/>
      </g>


      </symbol>

      <symbol  id="icon-negative-sign" x="0px" y="0px" style="fill:none;stroke:#000000;stroke-miterlimit:10;"
        viewBox="0 0 29 29"xml:space="preserve">
        <line class="st0" x1="29" y1="14.5" x2="0" y2="14.5"/>
        </symbol>

            <symbol  id="icon-plus-sign" x="0px" y="0px" style="fill:none;stroke:#000000;stroke-miterlimit:10;"
                 viewBox="0 0 29 29"xml:space="preserve">
                <line class="st0" x1="14.5" y1="0" x2="14.5" y2="29"/>
                <line class="st0" x1="29" y1="14.5" x2="0" y2="14.5"/>
            </symbol>

            <symbol id="icon-flip-indicator" viewBox="0 0 43 43">
              <circle cx="21.5" cy="21.5" r="21" fill="#F8F7EF" stroke="black"/>
              <path d="M10.75 19.2246C10.75 18.8104 10.4142 18.4746 10 18.4746C9.58579 18.4746 9.25 18.8104 9.25 19.2246H10.75ZM30.8542 13.3389C30.489 13.1433 30.0345 13.2807 29.8389 13.6458L26.6514 19.5958C26.4558 19.9609 26.5932 20.4155 26.9583 20.6111C27.3235 20.8067 27.778 20.6693 27.9736 20.3042L30.8069 15.0153L36.0958 17.8486C36.4609 18.0442 36.9155 17.9068 37.1111 17.5417C37.3067 17.1765 37.1693 16.722 36.8042 16.5264L30.8542 13.3389ZM9.25 19.2246C9.25 23.7548 11.0281 27.1487 13.6406 29.2989C16.2378 31.4364 19.6198 32.3115 22.785 31.8967C25.9578 31.4809 28.9441 29.7624 30.6912 26.6864C32.4374 23.612 32.884 19.2937 31.2179 13.783L29.7821 14.217C31.366 19.4563 30.8751 23.3255 29.3869 25.9456C27.8996 28.5642 25.3547 30.0471 22.59 30.4094C19.8177 30.7727 16.8559 30.0024 14.5938 28.1407C12.3469 26.2915 10.75 23.3322 10.75 19.2246H9.25Z" fill="black"/>
            </symbol>



          <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
          </symbol>

          <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
            <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
          </symbol>


          <symbol fill="none" id="arrow-right"  viewBox="0 0 121 30" ><path fill="currentColor" d="M120.414 16.414a2 2 0 0 0 0-2.828L107.686.858a2 2 0 1 0-2.828 2.828L116.172 15l-11.314 11.314a2 2 0 0 0 2.828 2.828l12.728-12.728ZM0 17h119v-4H0v4Z"/></symbol>

          <symbol id="brand-logo" viewBox="0 0 457 76" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_271_19)">
            <path d="M156.44 73.4401C155.194 75.1471 153.585 75.9999 151.608 75.9999C150.003 75.9999 148.634 75.4309 147.501 74.2902C146.368 73.1508 145.802 71.7779 145.802 70.1728C145.802 68.5338 146.37 67.1486 147.511 66.0202C148.649 64.8917 150.045 64.3281 151.694 64.3281C153.692 64.3729 155.262 65.204 156.408 66.82L154.657 68.034C153.826 67.0115 152.811 66.5009 151.61 66.5009C150.589 66.5009 149.722 66.8553 149.009 67.5614C148.297 68.2689 147.94 69.1272 147.94 70.1375C147.94 71.1723 148.295 72.0441 149.009 72.757C149.722 73.47 150.589 73.8271 151.61 73.8271C152.743 73.8271 153.758 73.3111 154.657 72.2763L156.442 73.4387L156.44 73.4401Z" fill="#4A4A4C"/>
            <path d="M171.692 75.7988H169.604V70.8979H163.274V75.7988H161.136V64.5127H163.274V68.7075H169.604V64.5127H171.692V75.7988Z" fill="#4A4A4C"/>
            <path d="M177.008 75.7988V64.5127H179.146V75.7988H177.008Z" fill="#4A4A4C"/>
            <path d="M194.465 73.4401C193.219 75.1471 191.609 75.9999 189.633 75.9999C188.027 75.9999 186.659 75.4309 185.526 74.2902C184.392 73.1508 183.826 71.7779 183.826 70.1728C183.826 68.5338 184.395 67.1486 185.535 66.0202C186.674 64.8917 188.069 64.3281 189.718 64.3281C191.716 64.3729 193.287 65.204 194.432 66.82L192.681 68.034C191.851 67.0115 190.835 66.5009 189.634 66.5009C188.613 66.5009 187.746 66.8553 187.034 67.5614C186.321 68.2689 185.964 69.1272 185.964 70.1375C185.964 71.1723 186.32 72.0441 187.034 72.757C187.746 73.47 188.613 73.8271 189.634 73.8271C190.768 73.8271 191.783 73.3111 192.681 72.2763L194.466 73.4387L194.465 73.4401Z" fill="#4A4A4C"/>
            <path d="M210.842 75.7988H208.468L207.323 73.3395H201.583L200.405 75.7988H198.031L203.368 64.5127H205.506L210.842 75.7988ZM206.296 71.1654L204.445 67.2408L202.576 71.1654H206.296Z" fill="#4A4A4C"/>
            <path d="M224.999 70.8967C224.999 72.3009 224.502 73.5013 223.508 74.5008C222.515 75.5002 221.3 76 219.863 76C218.247 76 216.91 75.416 215.856 74.2495C214.914 73.2039 214.441 71.8459 214.441 70.1729C214.441 68.432 214.972 67.0238 216.032 65.9456C217.094 64.8673 218.475 64.3296 220.183 64.3296C221.327 64.3296 222.326 64.6161 223.18 65.1878C223.696 65.5368 224.234 66.0814 224.796 66.8215L223.029 68.0355C222.288 67.0129 221.323 66.5023 220.134 66.5023C219.045 66.5023 218.181 66.8364 217.542 67.5045C216.901 68.1726 216.582 69.0784 216.582 70.2245C216.582 71.2919 216.882 72.1596 217.483 72.8264C218.083 73.4945 218.877 73.8286 219.865 73.8286C220.853 73.8286 221.627 73.4809 222.189 72.7843C222.413 72.5263 222.599 72.199 222.744 71.8066H220.22V69.6175H225V70.8967H224.999Z" fill="#4A4A4C"/>
            <path d="M240.905 70.1049C240.905 71.7209 240.324 73.1087 239.162 74.2644C238 75.4214 236.617 75.9985 235.012 75.9985C233.406 75.9985 232.023 75.42 230.861 74.2644C229.7 73.1074 229.118 71.7331 229.118 70.1375C229.118 68.4984 229.684 67.1201 230.819 66.0025C231.952 64.8863 233.35 64.3281 235.01 64.3281C236.582 64.3281 237.956 64.8998 239.135 66.046C240.315 67.1921 240.905 68.5446 240.905 70.1049ZM238.767 70.1049C238.767 69.1163 238.4 68.2689 237.665 67.5614C236.93 66.8539 236.046 66.5009 235.013 66.5009C233.98 66.5009 233.096 66.8499 232.361 67.5465C231.625 68.2431 231.259 69.0959 231.259 70.1063C231.259 71.1288 231.626 72.0034 232.361 72.7339C233.096 73.4645 233.98 73.8298 235.013 73.8298C236.046 73.8298 236.93 73.4645 237.665 72.7339C238.401 72.0047 238.767 71.1275 238.767 70.1049Z" fill="#4A4A4C"/>
            <path d="M265.361 75.7988H263.223V69.1121L259.267 75.7988L255.278 69.1121V75.7988H253.174V64.5127H255.143L259.268 71.6203L263.342 64.5127H265.363V75.7988H265.361Z" fill="#4A4A4C"/>
            <path d="M282.297 75.7988H279.923L278.779 73.3395H273.038L271.86 75.7988H269.486L274.823 64.5127H276.961L282.297 75.7988ZM277.75 71.1654L275.898 67.2408L274.029 71.1654H277.75Z" fill="#4A4A4C"/>
            <path d="M296.822 70.1388C296.822 71.6991 296.269 73.0339 295.164 74.1393C294.057 75.2447 292.725 75.7988 291.165 75.7988H286.215V64.5127H291.165C292.725 64.5127 294.057 65.0627 295.164 66.164C296.269 67.2653 296.822 68.5893 296.822 70.1388ZM294.651 70.1388C294.651 69.1855 294.311 68.3652 293.633 67.6795C292.954 66.9951 292.131 66.6515 291.166 66.6515H288.354V73.6586H291.166C292.131 73.6586 292.953 73.3164 293.633 72.6306C294.311 71.9462 294.651 71.1151 294.651 70.1374V70.1388Z" fill="#4A4A4C"/>
            <path d="M310.775 75.7988H301.634V64.5127H310.607V66.6515H303.772V68.7075H307.728V70.8965H303.772V73.6586H310.775V75.7988Z" fill="#4A4A4C"/>
            <path d="M0 39.4923C3.77471 38.8582 5.55008 36.2359 6.85989 32.9469C10.8871 22.826 14.3849 12.5122 18.2152 2.31932C18.37 1.9065 18.484 1.47603 18.6699 1.07814C18.8423 0.706059 18.8627 0.160156 19.4626 0.160156C20.0612 0.160156 20.1033 0.681616 20.2526 1.07543C21.3086 3.83889 22.3578 6.60643 23.4029 9.37396C26.2275 16.8523 29.0629 24.3252 31.8644 31.8117C33.1417 35.2256 33.9601 38.9953 38.8126 39.3674C38.7148 39.5249 38.6157 39.6824 38.518 39.84H20.3476C21.7035 38.774 23.0432 39.1909 24.2105 38.8568C26.613 38.1697 27.1396 37.4146 26.3564 35.0463C25.428 32.2381 24.391 29.4651 23.4776 26.6514C23.1681 25.6994 22.6591 25.4442 21.6981 25.4632C18.6007 25.5243 15.5019 25.5243 12.4045 25.4632C11.4246 25.4442 10.94 25.7402 10.6577 26.6921C9.90436 29.2247 9.01124 31.7166 8.25929 34.2506C7.27659 37.5681 8.00819 38.645 11.3947 39.1202C11.9118 39.1922 12.5688 38.9559 13.0411 40.0016C8.58505 40.0314 4.29863 40.2528 0.00135732 39.8698V39.491L0 39.4923ZM11.4395 24.351C14.9495 24.351 18.1637 24.3279 21.3751 24.3646C22.3727 24.3754 22.5722 24.0726 22.2315 23.1465C21.2991 20.6111 20.4385 18.0487 19.54 15.5011C18.8138 13.4411 18.0727 11.3851 17.1538 8.80769C15.1395 14.2857 13.3275 19.2124 11.4381 24.351H11.4395Z" fill="#4A4A4C"/>
            <path d="M308.882 39.5781C304.577 41.9301 297.652 39.6881 294.904 35.1402C292.559 31.2565 290.299 27.3211 288.004 23.4074C287.427 22.4242 286.816 21.4682 285.939 20.7173C285.357 20.2175 284.723 19.84 283.924 19.764C283.074 19.6839 282.632 19.9093 282.638 20.8721C282.67 25.8531 282.644 30.8341 282.674 35.8152C282.684 37.5887 283.762 38.5257 285.377 39.0186C285.926 39.1856 286.708 38.8869 287.047 39.8891H272.568C272.663 39.6147 272.676 39.4246 272.746 39.3988C275.461 38.4129 276.819 36.4353 276.819 33.4659C276.819 24.324 276.819 15.1808 276.819 6.039C276.819 2.32632 276.677 2.13077 273.137 0.958844C272.897 0.880081 272.653 0.828479 272.616 0.509356C272.669 0.418373 272.727 0.228257 272.786 0.228257C279.859 0.211962 286.955 -0.358385 293.994 0.552811C297.995 1.07155 301.39 2.89395 302.826 7.01809C304.091 10.6534 302.747 14.2126 299.389 16.6094C297.668 17.8384 295.741 18.6355 293.677 19.0212C292.621 19.2181 292.589 19.5535 293.099 20.3547C296.319 25.405 299.472 30.4974 302.739 35.515C304.201 37.7584 304.909 38.1047 308.879 39.5808L308.882 39.5781ZM282.649 10.724C282.649 12.9253 282.675 15.1265 282.637 17.3264C282.619 18.3014 282.997 18.679 283.977 18.6206C286.429 18.478 288.891 18.4128 291.272 17.7243C295.248 16.5728 296.92 14.2873 296.878 10.1007C296.835 5.69951 294.588 2.36977 290.964 1.43821C289.295 1.00909 287.574 1.13945 285.881 1.27661C283.7 1.4545 282.725 2.50014 282.661 4.68782C282.603 6.69897 282.649 8.71148 282.649 10.724Z" fill="#4A4A4C"/>
            <path d="M267.93 39.8688H250.697C250.959 38.9481 251.725 39.2007 252.233 39.0282C254.027 38.4171 254.517 37.4014 253.418 35.8968C249.919 31.1086 246.321 26.3923 242.755 21.6517C242.604 21.4521 242.406 21.2864 242.224 21.1112C241.487 20.401 240.635 19.502 239.628 19.8632C238.618 20.2245 239.215 21.4195 239.201 22.2166C239.138 26.3149 239.17 30.416 239.173 34.5157C239.176 37.7707 239.613 38.3221 242.881 39.164C243.21 39.2482 243.48 39.3473 243.565 39.862H229.133C229.288 39.5483 229.316 39.3704 229.4 39.3378C232.075 38.3058 233.413 36.3779 233.414 33.5543C233.414 24.3459 233.414 15.1375 233.414 5.92913C233.414 2.43508 233.157 2.09287 229.779 0.980697C229.56 0.908725 229.366 0.757991 229.207 0.345169H243.662C243.511 0.614046 243.477 0.77836 243.393 0.810952C240.58 1.87198 239.172 3.87679 239.172 6.82539C239.172 10.6481 239.172 14.4707 239.172 18.5501C241.558 17.2749 243.261 15.6019 245.023 14.024C248.317 11.0745 251.526 8.03262 254.283 4.55894C255.805 2.64013 255.463 1.74116 253.068 1.21291C252.365 1.0581 251.653 0.931811 250.946 0.793298C250.967 0.641206 250.987 0.490471 251.009 0.338379H265.172C264.807 1.18168 264.089 1.10835 263.54 1.20612C260.894 1.67326 258.684 2.92395 256.772 4.76399C253.269 8.13447 249.788 11.5307 246.224 14.8374C245.387 15.6142 245.327 16.0718 246.038 16.9518C250.96 23.0382 255.819 29.1748 260.723 35.2748C262.334 37.2792 264.169 38.9834 266.936 39.2197C267.139 39.2374 267.325 39.4655 267.928 39.8702L267.93 39.8688Z" fill="#4A4A4C"/>
            <path d="M432.385 39.8591H420.909C420.976 39.5943 420.981 39.4843 421.008 39.4789C424.814 38.7157 425.302 35.9319 425.42 32.6877C425.764 23.2294 425.407 13.7726 425.531 4.31704C425.554 2.59106 424.536 1.8564 423.153 1.32136C422.489 1.06471 421.669 1.17063 420.77 0.127708C423.458 0.127708 425.756 0.281159 428.022 0.0828955C430.166 -0.104504 431.411 0.674969 432.637 2.43218C438.157 10.3491 443.843 18.152 449.488 25.982C449.872 26.5144 450.116 27.1961 451.015 27.6116V20.9481C451.015 16.7859 451.024 12.6237 451.012 8.4602C450.997 3.27276 450.29 2.34527 445.321 0.882738C445.174 0.839283 445.067 0.670895 444.668 0.32054H456.979C457.11 0.977796 456.603 0.935699 456.282 0.994092C453.709 1.46395 452.756 3.23745 452.615 5.59353C452.172 12.9605 452.147 20.3343 452.253 27.7107C452.306 31.3664 452.323 35.0234 452.335 38.6804C452.337 39.1475 452.543 39.7899 451.883 39.9732C451.178 40.1687 450.921 39.5305 450.601 39.0756C446.382 33.0964 442.164 27.1159 437.945 21.1368C434.708 16.5496 431.477 11.9583 428.224 7.38197C427.885 6.90532 427.707 6.23449 426.782 6.02264C426.782 10.3641 426.75 14.624 426.792 18.8826C426.838 23.5459 426.966 28.2078 427.032 32.8697C427.096 37.3061 427.61 37.9987 431.881 39.1964C432.147 39.2711 432.33 39.4015 432.387 39.8564L432.385 39.8591Z" fill="#4A4A4C"/>
            <path d="M165.385 0.901551C165.532 3.84019 165.68 6.77748 165.824 9.71612C165.84 10.0407 165.791 10.4032 165.383 10.3802C165.216 10.3707 165.019 10.076 164.922 9.87093C164.818 9.64958 164.826 9.37934 164.764 9.13491C163.419 3.89451 158.083 0.878466 152.81 2.40211C150.282 3.13269 148.652 4.79349 148.185 7.38585C147.744 9.83834 148.666 11.8617 150.637 13.3514C152.912 15.0719 155.562 16.1624 158.02 17.5774C159.714 18.5524 161.434 19.4921 163.072 20.5541C170.027 25.0625 168.373 34.1392 162.782 37.7025C158.201 40.6221 153.431 40.7728 148.529 38.5227C147.041 37.8396 145.415 36.4776 144.434 39.1704C144.354 39.3918 144.027 39.5425 143.801 39.3429C143.644 39.203 143.534 38.9314 143.526 38.7142C143.402 35.4415 143.298 32.1688 143.197 28.8961C143.188 28.5959 143.165 28.2442 143.573 28.1451C144.043 28.031 144.238 28.3081 144.397 28.6991C144.846 29.8045 145.229 30.952 145.805 31.9895C148.069 36.0756 152.341 38.4616 156.374 37.9754C159.37 37.6142 161.643 35.8176 162.388 33.2225C163.249 30.2269 162.403 27.6589 159.849 25.6831C157.639 23.9748 155.067 22.8775 152.64 21.5345C150.819 20.5269 148.928 19.6374 147.266 18.365C141.458 13.9109 142.062 5.35433 148.473 1.78287C152.53 -0.476786 156.689 -0.31383 160.867 1.51671C162.401 2.1889 163.994 3.03899 165.008 0.43441C165.133 0.590577 165.259 0.746743 165.384 0.902909L165.385 0.901551Z" fill="#4A4A4C"/>
            <path d="M133.226 0.851433C133.367 4.02364 133.507 7.19586 133.654 10.4849C132.557 10.307 132.701 9.52341 132.56 9.01146C131.118 3.78193 125.489 0.737364 120.329 2.48914C118.013 3.2754 116.476 4.84929 116.045 7.33301C115.631 9.72168 116.393 11.7097 118.289 13.1886C120.942 15.2581 124.089 16.502 126.97 18.1913C128.167 18.8934 129.4 19.5411 130.558 20.303C133.917 22.5124 135.881 25.5189 135.44 29.6648C134.989 33.8949 132.702 36.9421 128.854 38.7061C124.575 40.667 120.276 40.4796 116.063 38.387C114.617 37.6686 113.134 36.7004 112.3 39.1203C112.209 39.3851 111.919 39.5128 111.695 39.3675C111.517 39.2507 111.35 38.9723 111.343 38.7604C111.235 35.4239 111.149 32.0874 111.071 28.7495C111.063 28.4168 111.197 28.0868 111.603 28.1466C111.812 28.1778 112.083 28.3598 112.167 28.5445C112.401 29.0578 112.531 29.6159 112.737 30.1428C114.649 35.0002 119.058 38.239 123.47 38.0339C126.778 37.8805 129.323 36.1111 130.163 33.3802C131.167 30.1183 130.201 27.416 127.216 25.3369C124.724 23.6001 121.931 22.3861 119.296 20.895C117.925 20.1183 116.519 19.3768 115.253 18.4507C109.215 14.0319 109.863 5.22545 116.48 1.68387C120.579 -0.50925 124.74 -0.277038 128.884 1.60511C130.423 2.30446 131.889 2.74987 133.225 0.852791L133.226 0.851433Z" fill="#4A4A4C"/>
            <path d="M356.662 0.558195C357.082 3.92052 357.313 7.08459 357.207 10.4727C356.204 10.0259 356.343 9.2261 356.177 8.66119C354.71 3.69374 349.328 0.764606 344.325 2.26788C341.894 2.99846 340.241 4.52753 339.749 7.06557C339.227 9.75978 340.212 11.9108 342.45 13.4494C345.212 15.3492 348.299 16.6881 351.198 18.3544C352.401 19.0456 353.599 19.7531 354.742 20.5353C361.788 25.356 359.715 34.5508 353.635 37.9851C349.324 40.42 344.864 40.5558 340.353 38.5365C337.398 37.2138 337.409 37.1894 335.371 39.4069C334.796 38.4007 334.988 37.3129 334.931 36.2972C334.814 34.2222 334.762 32.1377 334.815 30.06C334.833 29.3906 334.152 28.3055 335.138 28.0706C336.208 27.8153 336.009 29.1013 336.265 29.7042C336.914 31.2252 337.609 32.723 338.745 33.9207C341.479 36.8023 344.613 38.7076 348.842 37.6456C351.604 36.9517 353.416 35.3466 354.016 32.5003C354.609 29.6839 353.742 27.3943 351.483 25.6494C348.97 23.7075 346.038 22.4731 343.28 20.9454C341.678 20.0586 340.042 19.2289 338.601 18.0868C332.94 13.5974 333.655 5.12097 340.014 1.63506C344.091 -0.600151 348.265 -0.420899 352.414 1.4205C354.03 2.13751 355.496 2.64403 356.662 0.556837V0.558195Z" fill="#4A4A4C"/>
            <path d="M92.0258 21.585C94.7771 15.925 97.337 10.5922 99.5318 5.1006C100.395 2.93872 99.6607 1.83333 97.3655 1.22089C96.752 1.05793 95.9987 1.15978 95.3648 0.298828H107.095C107.222 0.946579 106.746 0.935715 106.409 1.00633C103.822 1.54816 102.256 3.2171 101.219 5.54194C98.6292 11.35 95.9077 17.0996 93.417 22.9497C92.6841 24.6703 92.9013 27.9593 92.8578 30.6127C92.8348 32.0522 92.8103 33.5093 92.8293 34.9596C92.8633 37.7027 93.5026 38.4781 96.2091 39.1245C96.5579 39.2073 96.9963 39.1285 97.1958 39.8401H82.7553C83.0417 38.876 83.9036 39.153 84.4574 38.9683C86.0875 38.4251 86.9793 37.4229 87.0064 35.6549C87.0621 32.1282 87.1598 28.6029 87.2616 25.0777C87.2806 24.4231 87.1164 23.8392 86.8354 23.2634C83.8032 17.0371 80.7614 10.8149 77.7522 4.57778C76.6867 2.36973 74.8639 1.20323 72.5781 0.359937H89.9695C89.4279 1.33224 88.4262 1.01176 87.6824 1.15027C84.19 1.79938 83.6335 2.70379 85.0234 5.85291C87.2847 10.9752 89.5758 16.0838 92.0272 21.5836L92.0258 21.585Z" fill="#4A4A4C"/>
            <path d="M387.887 39.8795H373.028C373.31 39.5305 373.394 39.3146 373.537 39.2644C376.129 38.3473 377.426 36.5262 377.427 33.8013C377.427 23.5907 377.374 13.3801 377.476 3.17095C377.494 1.36893 376.866 1.10412 375.316 1.18832C370.202 1.46534 366.837 3.91647 365.059 8.74405C364.842 9.33205 365.004 10.193 364.002 10.4877C363.494 9.78289 363.938 9.05638 364.01 8.37875C364.253 6.06206 364.599 3.75352 364.807 1.43411C364.888 0.517481 365.116 0.110091 366.138 0.112806C375.62 0.145398 385.103 0.139966 394.586 0.118238C395.44 0.11688 395.843 0.368104 395.933 1.25621C396.206 3.94906 396.552 6.63512 396.845 9.32661C396.886 9.70277 397.272 10.3071 396.575 10.4021C395.98 10.4822 396.045 9.83449 395.903 9.44612C393.775 3.67747 390.389 1.19511 384.833 1.17745C383.581 1.17338 383.228 1.56583 383.232 2.78664C383.272 13.6273 383.243 24.4679 383.266 35.3086C383.272 37.5981 384.04 38.4985 386.218 39.0607C386.681 39.1802 387.226 39.0851 387.891 39.8809L387.887 39.8795Z" fill="#4A4A4C"/>
            <path d="M185.275 39.9949H172.075C172.091 39.8088 172.085 39.7029 172.102 39.7002C176.386 38.7292 177.852 35.3343 179.269 31.7276C183.112 21.9461 186.499 11.999 190.195 2.16598C190.35 1.75316 190.447 1.31046 190.657 0.93023C191.095 0.138535 191.626 0.142609 192.021 0.949242C192.352 1.62415 192.564 2.35745 192.83 3.0636C196.511 12.8382 200.202 22.6088 203.868 32.3889C205.088 35.6467 205.974 39.1611 210.578 39.4911C210.472 39.654 210.367 39.8156 210.261 39.9786H192.43C192.789 39.229 193.452 39.468 193.908 39.343C194.451 39.1937 195.034 39.1977 195.595 39.104C198.421 38.6355 199.059 37.6361 198.155 34.9636C197.228 32.2232 196.203 29.5154 195.307 26.7656C195.008 25.8476 194.611 25.447 193.59 25.4673C190.432 25.5298 187.269 25.5067 184.109 25.4782C183.395 25.4714 182.916 25.6221 182.688 26.369C181.769 29.3756 180.732 32.3482 179.914 35.3805C179.295 37.6728 180.016 38.6016 182.353 39.1231C183.174 39.3064 184.078 39.2154 185.274 39.9962L185.275 39.9949ZM189.296 9.64159C189.129 9.62394 188.96 9.60764 188.793 9.58999C187.01 14.4434 185.226 19.2967 183.394 24.2832H194.415C192.681 19.3225 190.989 14.4814 189.296 9.64159Z" fill="#4A4A4C"/>
            <path d="M43.3334 0.318741H58.0983C57.9667 0.62021 57.9449 0.800819 57.8662 0.829337C55.0167 1.87045 53.592 3.92686 53.592 6.99858C53.592 16.1404 53.5893 25.2836 53.592 34.4255C53.592 37.8828 54.6412 38.9692 58.0644 39.0466C60.4058 39.0996 62.7363 39.0181 65.0396 38.5089C69.1089 37.6099 71.5086 35.0651 72.5144 31.1011C72.6746 30.4697 72.6243 29.7418 73.3071 29.1647C73.8663 29.841 73.6003 30.5308 73.5432 31.15C73.3844 32.8434 73.1456 34.5287 72.965 36.2193C72.6909 38.7805 71.296 40.061 68.7804 40.061C61.0654 40.061 53.349 40.061 45.634 40.061C44.9662 40.061 44.2971 40.061 43.5614 40.061C43.7637 38.8402 44.5957 39.1729 45.0993 39.0195C46.8991 38.4695 47.8424 37.3695 47.8397 35.4439C47.8248 25.2293 47.8248 15.016 47.8397 4.80139C47.8424 2.90159 47.0077 1.71202 45.1441 1.21907C44.5916 1.07241 43.9198 1.08735 43.332 0.317383L43.3334 0.318741Z" fill="#4A4A4C"/>
            <path d="M416.151 0.813561C411.029 1.01182 411.294 4.41353 411.321 7.83561C411.391 16.5307 411.342 25.2257 411.345 33.9208C411.345 37.8304 411.613 38.1699 415.417 39.2359C415.591 39.2848 415.743 39.4083 415.762 39.8524H401.335C401.391 39.4029 401.566 39.2712 401.834 39.1951C405.331 38.2066 405.52 37.9594 405.52 34.3934C405.52 24.8795 405.52 15.3642 405.52 5.85026C405.52 2.2693 405.335 2.02079 401.89 0.960221C401.654 0.888249 401.378 0.876027 401.362 0.336914H415.755L416.151 0.814919V0.813561Z" fill="#4A4A4C"/>
            <path d="M313.938 0.31131H328.311C328.368 0.429453 328.425 0.546238 328.482 0.664381C328.322 0.739069 328.166 0.832769 327.999 0.88573C323.916 2.16494 323.835 2.27493 323.835 6.54302C323.835 15.6821 323.835 24.8213 323.835 33.9604C323.835 37.8808 324.088 38.2013 327.939 39.2483C328.09 39.289 328.201 39.4737 328.612 39.8472H313.82C313.937 39.5783 313.96 39.3895 314.039 39.3637C317.949 38.1022 318.077 37.9297 318.077 33.7974C318.077 24.5945 318.077 15.3929 318.077 6.18995C318.077 2.3469 317.967 2.19209 314.352 0.946838C314.112 0.864002 313.854 0.80561 313.94 0.308594L313.938 0.31131Z" fill="#4A4A4C"/>
            </g>
            <defs>
            <clipPath id="clip0_271_19">
            <rect width="457" height="76" fill="white"/>
            </clipPath>
            </defs>
  </symbol>
</svg>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick Links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "contact_emails",
      "name": "Contact Emails",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Contact Us",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "text",
          "id": "general_email",
          "label": "General Inquiries Email",
          "default": "info@ajornada.com"
        },
        {
          "type": "text",
          "id": "orders_email",
          "label": "Order Inquiries Email",
          "default": "help@ajornada.com"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social Media",
      "settings": [
        {
          "type": "paragraph",
          "content": "A block containing all the defined social media links in the site's settings."
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Follow Us",
          "label": "Link List title",
          "info": "The hidden headline to give the social media link list for screen readers and SEO."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "contact_emails"
      }
    ]
  }
}
{% endschema %}
