{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-footer.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-footer.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer">
  <div class="footer__inner page-width">
    {%- if section.settings.newsletter_enable -%}
      <div class="footer__contact-blocks">
        <div class="newsletter-form">
          {%- if section.settings.newsletter_heading != blank -%}
            <h2 class="footer__block__heading  newsletter-form__heading">
              {{ section.settings.newsletter_heading | escape }}
            </h2>
          {%- endif -%}
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">

            <div class="newsletter-form__field-wrapper">
              <div class="newsletter-form__field">
                <custom-input-wrapper class="custom-field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="newsletter-form__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    required
                  >
                  <label class="newsletter-form__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                </custom-input-wrapper>
                <button
                  type="submit"
                  class=" button--large"
                  name="commit"
                  id="Subscribe"
                >
                  {{ 'newsletter.button_label' | t }}
                </button>
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="ContactFooter-error">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="ContactFooter-success"
                tabindex="-1"
                autofocus
              >
                {{ 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {%- endform -%}
        </div>
        <div class="footer__social-media">
          <ul class="footer__social-media-list">
            {% if settings.social_pinterest_link %}
              <li class="footer__social-media-item">
                <a
                  href="{{ settings.scocial_pinterest_link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer__social-media-link"
                >
                  {% render 'icon-pinterest' %}
                </a>
              </li>
            {% endif %}
            {% if settings.social_facebook_link %}
              <li class="footer__social-media-item">
                <a
                  href="{{ settings.social_facebook_link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer__social-media-link"
                >
                  {% render 'icon-facebook' %}
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li class="footer__social-media-item">
                <a
                  href="{{ settings.social_twitter_link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer__social-media-link"
                >
                  {% render 'icon-twitter' %}
                </a>
              </li>
            {% endif %}

            {% if settings.social_instagram_link %}
              <li class="footer__social-media-item">
                <a
                  href="{{ settings.social_instagram_link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="footer__social-media-link"
                >
                  {% render 'icon-instagram' %}
                </a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="footer__logo">
          <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
            <use xlink:href="#logo-badge" />
          </svg>
        </div>
      </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      <div class="footer__blocks">
        {%- for block in section.blocks -%}
          <div class="footer__block">
            {%- if block.settings.heading != blank -%}
              <h2 class="footer__block__heading visually-hidden" id="{{- block.settings.heading | escape -}}">
                {{- block.settings.heading | escape -}}
              </h2>
            {%- endif -%}

            {%- case block.type -%}
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                  <ul class="footer__block__links-list" aira-describedby="{{- block.settings.heading | escape -}}">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        <a
                          href="{{ link.url }}"
                          data-green-dot-cursor
                          class="footer__block__link {% if link.active %} footer__block__link--active{% endif %}"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- when 'contact_emails' -%}
                {%- if block.settings.heading != blank -%}
                  <h2
                    class="footer__block__heading  footer__block__heading--contact "
                    id="{{- block.settings.heading | escape -}}"
                  >
                    {{- block.settings.heading | escape -}}
                  </h2>
                {%- endif -%}
                <ul class="footer__block__contact" aria-describedby="{{- block.settings.heading | escape -}}">
                  {% if block.settings.general_email %}
                    <li>
                      <div class="utility-links__contact__email">
                        <span class="email__label"> General <span class="visually-hidden">Inquiries</span> </span>
                        <a href="mailto:{{ block.settings.general_email }}" tile="Contact us about general inquiries">
                          {{ block.settings.general_email }}
                        </a>
                      </div>
                    </li>
                  {% endif %}

                  {% if block.settings.orders_email %}
                    <li>
                      <div class="utility-links__contact__email">
                        <span class="email__label"> Orders <span class="visually-hidden">Inquiries</span> </span>
                        <a href="mailto:{{ block.settings.orders_email }}" tile="Contact us about your order">
                          {{ block.settings.orders_email }}
                        </a>
                      </div>
                    </li>
                  {% endif %}
                </ul>
              {%- when 'social_media' -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer__block__heading  visually-hidden " id="{{- block.settings.heading | escape -}}">
                    {{- block.settings.heading | escape -}}
                  </h2>
                  <ul class="footer__block__social-media" aria-describedby="{{- block.settings.heading | escape -}}">
                    {% if settings.social_instagram_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_instagram_link }}">
                          Instagram
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_facebook_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_facebook_link }}">
                          Facebook
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_twitter_link }}">
                          Twitter
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_pinterest_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_pinterest_link }}">
                          Pinterest
                        </a>
                      </li>
                    {% endif %}

                    {% if settings.social_tiktok_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_tiktok_link }}">
                          TikTok
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_snapchat_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_snapchat_link }}">
                          Snapchat
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_youtube_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_youtube_link }}">
                          YouTube
                        </a>
                      </li>
                    {% endif %}
                    {% if settings.social_vimeo_link != blank %}
                      <li>
                        <a class="footer__block__link" target="_blank" href="{{ settings.social_vimeo_link }}">
                          Vimeo
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                {%- endif -%}
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__copyright">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}
          {{ shop.name | remove: '-shop' | replace: '-', ' ' }}
        </small>
      </div>
    </div>
  </div>
</footer>

{% render 'svg-graphics' %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick Links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "contact_emails",
      "name": "Contact Emails",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Contact Us",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "text",
          "id": "general_email",
          "label": "General Inquiries Email",
          "default": "info@ajornada.com"
        },
        {
          "type": "text",
          "id": "orders_email",
          "label": "Order Inquiries Email",
          "default": "help@ajornada.com"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social Media",
      "settings": [
        {
          "type": "paragraph",
          "content": "A block containing all the defined social media links in the site's settings."
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Follow Us",
          "label": "Link List title",
          "info": "The hidden headline to give the social media link list for screen readers and SEO."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "contact_emails"
      }
    ]
  }
}
{% endschema %}
