<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'"> 
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{% comment %} <link rel="stylesheet" href="{{ 'component-header.css' | asset_url }}" media="print" onload="this.media='all'">  {% endcomment %}
<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">

  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
{% comment %} <noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>


<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<style>
 [data-sticky-header] {z-index: 2;}.header-wrapper {width: 100%;z-index: 3;position: fixed;top: 0;width: 100%;}.header {transition: all .6s var(--default-easing);position: relative;border-bottom: 1px solid rgb(var(--color-base-text-1));background-color: rgb(var(--color-base-background-1));}@media screen and (min-width: 940px) {.header {border-bottom: 0;}}header.menu-open {background-color: rgb(var(--color-base-background-2));border-bottom: 1px solid rgb(var(--color-base-background-1));}.header__inner {padding-top: var(--level1);padding-bottom: var(--level1);display: grid;grid-template-areas: 'menu heading cart-drawer';grid-template-columns: 1fr 2fr 1fr;justify-content: space-between;align-items: center;margin: auto;}@media screen and (min-width: 940px) {.header__inner {display: flex;padding-top: var(--level7);padding-bottom: var(--level7);flex-direction: row;align-items: center;justify-content: center;}}@media screen and (min-width: 1280px) {.header__inner {max-width: 100%;}}@media screen and (min-width: 1800px) {.header__inner {max-width: 115rem;}}.header header-drawer {justify-self: start;}.header *[tabindex='-1']:focus {outline: none;}.header__inline-menu {display: none;}@media screen and (min-width: 940px) {.header__inline-menu {display: flex;}}.header__heading {margin: 0;line-height: 0;grid-area: heading;justify-self: center;z-index: 2;}.header__heading-link {display: block;}@media screen and (min-width: 940px) {.header__heading {position: absolute;}}.header__heading-logo {height: auto;width: 100%;}.header__logo {width: 100%;height: 4rem;max-width: 15rem;margin-right: auto;margin-left: auto;fill: rgb(var(--color-base-text-1));transition: all var(--duration-default) var(--default-easing);z-index: 0;}.header__logo svg {width: 100%;height: 100%;}.menu-open .header__logo {fill: rgb(var(--color-base-text-2));}@media screen and (min-width: 940px) {.header__logo {top: -.1rem;position: relative;}}.header__localization {display: none;}.header-drawer-blocker {width: 100%;position: absolute;top: 0;right: 0;bottom: 0;height: 100%;background: rgb(var(--color-base-background-1));z-index: 1;border-bottom: 1px solid rgb(var(--color-base-text-2));transition: all .2s ease-in-out;}.menu-open .header-drawer-blocker {background: rgb(var(--color-base-background-2));}@media screen and (min-width: 940px) {header-drawer {display: none;}}.header__icons {position: relative;display: flex;justify-content: flex-end;}@media screen and (max-width: 989px) {menu-drawer~.header__icons .header__icon--account {display: none;}}.header__icon span {height: 100%;}.header__icon:hover {cursor: pointer;}.header__icon .icon {fill: var(--color-base-text);vertical-align: middle;}.header__icon svg {width: 100%;height: 100%;}.header__icon--cart {width: 4rem;height: 3rem;top: -.15rem;z-index: 1;position: relative;color: black;background-color: transparent;position: relative;border: 0;padding: 0;transition: all var(--duration-default) ease-in-out;margin-right: calc(-1 * var(--level3));display: flex;align-items: center;justify-content: center;}.header__icon svg {width: 100%;height: 100%;}.header.is-product-page .header__icon--cart {color: black;}.header.menu-open .header__icon--cart {color: black;}@media only screen and (min-width: 940px) {.header__icon--cart {display: none;}}.header__cart-button {width: auto;height: auto;top: 0;padding: var(--level3);text-decoration: none;list-style: none;color: rgb(var(--color-base-text-1));transition: all var(--duration-default) ease 0s;background: transparent;border: none;text-transform: uppercase;line-height: 1;padding-bottom: var(--level1);font-size: var(--h4);display: inline-block;cursor: pointer;}@media only screen and (min-width: 940px) {.header__cart-button {padding-top: var(--level1);font-size: var(--h5);}}.header__cart-button:hover, .header__cart-button:focus {text-decoration: underline;}.header__icon--cart .icon {width: 2rem;height: 1.4rem;}.menu-open .header__icon--cart .icon {color: rgb(var(--color-base-text-2));stroke: rgb(var(--color-base-text-2));}.cart-count-bubble:empty {display: none;}.cart-count-bubble > span {position: absolute !important;}.cart-count-bubble {position: absolute;margin: auto;height: 1.15rem;width: 1.15rem;bottom: 15%;right: 25%;padding-top: 1px;margin: auto;border-radius: 100%;background-color: rgb(var(--color-base-background-2));color: #fff;font-size: var(--primary-font-family);font-size: var(--mini);text-decoration: none !important;display: flex;align-items: center;justify-content: center;}.cart-count-bubble.is-hidden {opacity: 0;}.cart-count-bubble span {position: absolute;height: 100%;display: flex;}.header__cart-button {display: flex;align-items: center;}.header__cart-button .cart-count-bubble {height: 1.25rem;width: 1.25rem;font-size: var(--micro);line-height: 1;right: -.5rem;padding-top: .2rem;bottom: 0;top: 0;margin-right: 0;}
   .header__icon--menu {background: transparent;position: relative;border: none;outline: 0;z-index: 1;position: relative;display: flex;align-items: center;justify-content: center;width: 2.5rem;height: 3rem;}.header__icon--menu.is-close {outline: none;}.header__icon--menu .header__icon__inner {display: flex;align-items: center;justify-content: center;position: absolute;opacity: 1;transform: scale(1);transition: transform 150ms ease, opacity 150ms ease;width: 100%;height: 100%;}.header__icon--menu:after, .header__icon--menu .header__icon__inner:after, .header__icon--menu .header__icon__inner:before {content: " ";width: 70%;height: 2px;display: block;position: absolute;top: 0;bottom: 0;right: 0;left: 0;background-color: black;margin: auto;transition: all var(--duration-default) ease;}.header__icon--menu .header__icon__inner:after {top: -17px;}.header__icon--menu .header__icon__inner:before {top: 17px;}.header__icon--menu:after {top: -1px;}.menu-drawer-container.menu-open .header__icon--menu:after {transform: translateX(-2px);opacity: 0;background-color: rgb(var(--color-base-text-2));}.menu-drawer-container.menu-open .header__icon__inner:after {transform: rotate(45deg);top: 0;background-color: rgb(var(--color-base-text-2));}.menu-drawer-container.menu-open .header__icon__inner:before {transform: rotate(-45deg);top: 0;background-color: rgb(var(--color-base-text-2));}.js menu-drawer>details>summary::before, .js menu-drawer>details[open]:not(.menu-open)>summary::before {content: '';position: relative;}menu-drawer>details[open]>summary::before {visibility: visible;opacity: 1;}header-drawer .menu-drawer {position: absolute;background-color: rgb(var(--color-base-background-2));width: 100%;z-index: 3;left: 0;padding: 0;border-left: 0;overflow-x: hidden;height: 100vh;z-index: 0;color: rgb(var(--color-base-text-2));top: calc(100% + 1px);}.menu-drawer-container.menu-open .menu-drawer {animation: headerDrawerOpen .6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;pointer-events: all;}.menu-drawer-container.menu-close .menu-drawer {animation: headerDrawerClose .6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;pointer-events: all;}.js .header-menu-drawer {opacity: 0;pointer-events: none;}@keyframes headerDrawerOpen {0% {opacity: 0;}100% {opacity: 1;}}@keyframes headerDrawerClose {0% {opacity: 1;}100% {opacity: 0;}}.menu-drawer__inner-container {position: relative;height: 100%;}.menu-drawer__navigation-container {overflow-y: auto;height: 100%;padding-left: var(--level6);padding-top: var(--level8);}.menu-drawer__navigation {}.menu-drawer__inner-submenu {height: 100%;overflow-x: hidden;overflow-y: auto;}.menu-drawer__menu {padding-top: var(--level4);margin-bottom: var(--level4);}.menu-drawer__menu-item {text-decoration: none;text-transform: uppercase;list-style: none;font-family: var(--primary-font-family);font-size: var(--h3);margin-bottom: var(--level3);font-weight: var(--font-weight-regular);display: inline-block;}a.menu-drawer__menu-item:hover, a.menu-drawer__menu-item:focus {text-decoration: underline;}.menu-drawer__menu-item.menu-drawer__menu-item--no-children {margin-bottom: var(--level3);display: inline-block;}.menu-drawer__menu-item {color: rgba(var(--color-base-text-2));}.menu-drawer__menu-item--active, .menu-drawer__menu-item:focus, .menu-drawer__close-button:focus, .menu-drawer__menu-item:hover, .menu-drawer__close-button:hover {color: rgb(var(--color-base-text));}.menu-drawer__menu-subitem {text-transform: capitalize;font-family: var(--primary-font-family);font-size: var(--h4);text-transform: uppercase;margin-bottom: var(--level2);}.menu-drawer__menu__child-list {margin-bottom: var(--level4);}.menu-drawer__menu-child-item {font-size: var(--normal);text-transform: capitalize;margin-bottom: var(--level2);display: inline-block;}.menu-drawer__utility-links {border-top: 1px solid rgb(var(--color-base-text));padding-top: var(--level6);padding-bottom: var(--level8);margin-left: calc(var(--level6) * -1);padding-left: var(--level6);}.menu-drawer__menu-item.menu-drawer__menu-item--utility-link {margin-bottom: var(--level3);display: inline-block;}.menu-drawer__utility-links ul li:nth-child(4) a {margin-bottom: var(--level8);}.menu-drawer__utility-links ul li:nth-last-child(2) a {margin-bottom: var(--level8);}.menu-drawer__utility-links__button {max-width: 17.5rem;margin-top: var(--level1);padding-left: .1rem;padding-right: .1rem;margin-bottom: var(--level5);}.menu-drawer__utility-links__button .button__icon {display: block;height: 2rem;width: 3rem;}.header__menu {margin-left: -1.2rem;display: none;}.header__menu {padding: 0 1rem;}@media screen and (min-width: 940px) {.header__menu {display: flex;width: 100%;max-width: 100%;margin-right: 0;}.header__menu__list-menu {display: flex;align-items: center;width: 92%;justify-content: space-between;flex-direction: row;margin-left: auto;margin-right: auto;}.header__menu__list-menu li:nth-child(2) {margin-right: 30%;}.header__menu-item {padding: var(--level3);padding-top: var(--level2);padding-bottom: var(--level2);text-decoration: none;list-style: none;color: rgb(var(--color-base-text));transition: all var(--duration-default) ease 0s;background: transparent;border: none;text-transform: uppercase;line-height: 1;font-size: var(--h5);display: inline-block;}.header__menu-item span {position: relative;}.header__menu-item span:after {height: 2px;width: 100%;content: " ";background-color: black;position: absolute;bottom: -.5rem;right: 0;opacity: 0;}.header__menu-item {position: relative;position: relative;z-index: 1;}.header__menu-item:hover span:after, .header__menu-item:focus span:after {opacity: 1;}}@media screen and (min-width: 1200px) {.header__menu__list-menu {width: 84%;}}.header__menu-item svg {position: fixed;z-index: -999;opacity: 0;display: none;}.header__menu-item::-webkit-details-marker {list-style: none;}.header__menu-item span {transition: text-decoration var(--duration-short) ease;}.header__menu-item span {position: relative;display: inline-block;}@media screen and (min-width: 940px) {.header__actions-menuspan:after, .header__menu-item:focus span:after {width: 100%;}}.header__active-menu-item {transition: text-decoration-thickness var(--duration-short) ease;color: rgb(var(--color-foreground));}.header__menu__list-menu .header__cart-button__text {position: relative;opacity: 1;z-index: 0;left: 0;}@media only screen and (min-width: 940px) {.header__actions-menu {display: flex;width: 100%;max-width: 87%;margin-right: 0;min-width: 26rem;grid-area: cart-drawer;justify-self: flex-end;position: relative;}}@media only screen and (min-width: 940px) {.header__submenu {transition: all var(--duration-default) cubic-bezier(0.16, 1, 0.3, 1);background-color: rgb(var(--color-base-background-1));width: 100vw;max-width: none;position: absolute;left: 0;border-top: 1px solid rgb(var(--color-base-text));border-bottom: 1px solid rgb(var(--color-base-text));z-index: 0;transform: translateY(-120vh);}.header__submenu__inner {flex-direction: row;display: flex;padding-top: var(--level3);padding-bottom: var(--level3);width: 100%;margin-right: auto;margin-left: auto;}.header__submenu--shop .header__submenu__inner {display: grid;grid-template-columns: 1.6fr 1.15fr;grid-template-areas: 'menu collections';}.header__submenu--shop .header__submenu__featured-collections {width: 100%;max-width: 100%;grid-area: collections;min-width: 14rem;padding-top: var(--level1);padding-right: var(--level3);margin-right: 0;margin-left: auto;}.header__submenu--shop .header__submenu__list-menu {grid-area: menu;}.header__submenu[aria-hidden="true"] {opacity: 0;pointer-events: none;animation: headerDropDownClose .2s ease-in-out forwards;}.header__submenu[aria-hidden="true"].preload {visibility: hidden;opacity: 0;}.header__submenu[aria-hidden="false"] {opacity: 1;pointer-events: all;top: 5.05rem;animation: headerDropDownOpen .4s cubic-bezier(0.16, 1, 0.3, 1) forwards;}.header__submenu__list-menu {position: relative;display: flex;flex-direction: row;padding-left: var(--level3);}.header__submenu__list-item {display: block;padding-left: 0;padding-bottom: 0;text-transform: uppercase;margin-right: var(--level7);padding-right: var(--level1);padding-top: var(--level2);font-size: var(--h4);margin-bottom: var(--level1);font-weight: normal;letter-spacing: var(--letter-spacing-2);}.header__childmenu {margin-right: var(--level3);}.header__childmenu__list-menu {display: grid;flex-direction: column;padding-left: 0;}.header__childmenu__list-item {font-size: var(--h5);color: rgb(var(--color-base-link));text-transform: capitalize;text-decoration: none;padding-top: var(--level1);}.header__childmenu__list-item:hover, .header__childmenu__list-item:focus {color: rgb(var(--color-base-text));text-decoration: underline;}@keyframes headerDropDownOpen {0% {opacity: 0;transform: translateY(-120vh);}100% {opacity: 1;transform: translateY(0);}}@keyframes headerDropDownClose {0% {opacity: 1;transform: translateY(0);}100% {opacity: 1;transform: translateY(-120vh);}}}@media only screen and (min-width: 1300px) {.header__actions-menu {max-width: 31rem;}.header__submenu__inner {padding-top: var(--level3);padding-bottom: var(--level4);}.header__submenu--shop .header__submenu__featured-collections {max-width: 35rem;padding-right: var(--level1);}.header__childmenu__list-item {margin-bottom: var(--level2);}}
</style>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper  gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
    endif

  -%}
  
  <header class="header page-width is-full {% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}">
   <div class="header__inner">

    {%- render 'header-drawer' -%}

    {% render 'header-mega-menu' %}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading" >
          {%-else-%}
          <div class="header__heading">
      {%-endif-%}
      <a href="{{ routes.root_url }}"   class="header__heading-link" title="Go to homepage"  >
              <div class="header__logo">
                <svg>
                  <use href="#brand-logo"/>
                </svg>
              </div>
              <span class="visually-hidden">Ajornada</span>
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%-else-%}
      </div>
      {%- endif -%}

    <div class="header__icons">
    <localization-form class="no-js-hidden header__localization">
      <div>
        <h2 class="visually-hidden" id="HeaderCountryLabel">
          {{ 'localization.language_label' | t }}
        </h2>
        {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
      </div>
    </localization-form>
    
      {%- if shop.customer_accounts_enabled -%}
        <div class="show-for-medium-up">
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
        </div>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble" data-cart-toggle>
        <svg class="icon icon-cart" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" d="M1.00418 18.5189L2.75191 6.32994C2.78268 6.12152 2.96388 5.96621 3.17775 5.96621L5.89672 5.96609V3.55977C5.89672 2.14824 7.06447 1 8.49999 1C9.93757 1 11.1052 2.14824 11.1052 3.55977V5.96799H13.8241C14.038 5.96799 14.2192 6.1233 14.25 6.33172L15.9958 18.5187C16.0131 18.64 15.9765 18.7613 15.8955 18.8541C15.8147 18.9469 15.6952 19 15.5718 19H1.42817C1.30482 19 1.18542 18.9469 1.10447 18.8541C1.02351 18.7632 0.986863 18.64 1.00423 18.5187L1.00418 18.5189ZM10.2477 3.55986C10.2477 2.61441 9.46344 1.84324 8.49999 1.84324C7.53847 1.84324 6.75608 2.61255 6.75608 3.55986V5.96808H10.2476L10.2477 3.55986ZM15.0766 18.157L13.4503 6.81305H11.1052V7.33602C11.1052 7.56906 10.9125 7.75854 10.6755 7.75854C10.4385 7.75854 10.2458 7.56907 10.2458 7.33602V6.81305H6.75429V7.33602C6.75429 7.56906 6.5616 7.75854 6.32459 7.75854C6.08757 7.75854 5.89489 7.56907 5.89489 7.33602V6.81305H3.54763L1.92134 18.157H15.0766Z" stroke="currentColor" stroke-width="0.25"></path>
      </svg>
        <span data-cart-toggle-text class="visually-hidden  header__cart-button__text">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
   </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Mobile Navigation"
    },
    {
      "type": "text",
      "info": "The heading for the primary navigation",
      "default": "Shop",
      "id": "mobile_nav_heading",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "mobile_menu_primary",
      "label": "Primary Mobile Menu",
      "info": "The primary list of links to display on the mobile nav."
    },
    {
      "type": "link_list",
      "id": "mobile_menu_secondary",
      "label": "Secondary Mobile Menu",
      "info": "The secondary list of links to display on the mobile nav."
    },
    {
      "type": "header",
      "content": "Desktop Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    }
  ]
}
{% endschema %}
