<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'"> 
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-header.css' | asset_url }}" media="print" onload="this.media='all'"> 
<link rel="stylesheet" href="{{ 'component-header-menu.css' | asset_url }}" media="print" onload="this.media='all'"> 
<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">

{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>

<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>


<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>


<style>

/*------------------------------------*\
    #Search
\*------------------------------------*/

.menu-drawer-search {
  align-items: center;
  border-bottom: 1px solid rgb(var(--color-base-text));
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: var(--level3);
  padding-top: var(--level2); 
  width: 100%;
}

predictive-search {
  display: block;
  width: 100%; 
}



/*------------------------------------*\
    #Search Modal (Desktop)
\*------------------------------------*/

.search-modal {
  left: 0;
  position: absolute;
  right: 0;
  top: 6.5rem;
  transform: translateY(-2%);
  transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
  width: 100%;
}

@media screen and (min-width: 940px) {
  .search-modal {
    top: 9.5rem;
  }
}

.search-modal[aria-hidden="true"] {
  border-top: 1px solid rgb(var(--color-base-text));
  opacity: 0;
  transform: translateY(-10%);
}

.search-modal[aria-hidden="true"].preload {
  opacity: 0;
  visibility: hidden;
}

.search-modal[aria-hidden="false"] {
  transform: translateY(0);
}

.search-modal__content {
  align-items: center;
  background-color: rgb(var(--color-base-background-1));
  border-bottom: 1px solid rgb(var(--color-base-text));
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: var(--level10);
  width: 100%;
}

@media screen and (min-width: 940px) {
  .search-modal__content {
    background-color: rgb(var(--color-base-background-1));
    height: auto;
    margin-bottom: 0;
    position: relative;
  }
}

.search-modal__form {
  border: 1px solid rgb(var(--color-base-text-1));  
  padding: var(--level4);
  padding-bottom: var(--level0);
  padding-top: var(--level1);  
  width: 100%;
}

@media screen and (min-width: 940px) {
  .search-modal__form {
    border: none;
  }
}

.search-modal__form.is-focused .search__label {
  opacity: 0;
  transform: translateY(-4%);
}

.search-modal__close-button {
  position: absolute;
  right: 0.3rem;
}



/*------------------------------------*\
    #Search Input
\*------------------------------------*/

.search__input-container {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 940px) {
  .search__input-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 92rem;
  }
}

.search-modal__form .search__label {
  color: rgb(var(--color-base-text));
  display: block;
  font-family: var(--tertiary-font-family);
  font-size: var(--normal);
  right:0; 
  line-height: 1;
  margin: auto;
  padding-left: inherit;
  padding-right: inherit;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  transition: all .3s cubic-bezier(0.16, 1, 0.3, 1);
}

@media screen and (min-width: 940px) {
  .search-modal__form .search__label {
    font-size: var(--h6);
    left: 2.75rem;
  }
}


.search__input[type="search"] {
  border: 0;
  border-bottom: 1px solid black; 
  font-size: var(--h5);
  margin-bottom: var(--level3); 
  margin-left: auto;  
  margin-right: auto; 
  outline: 0;
  padding-bottom: var(--level2);
  padding-left: 0; 
  padding-top: var(--level5);
}

@media screen and (min-width: 940px) {
  .search__input[type="search"] {
    padding-bottom: var(--level5);
    padding-left: 2.75rem;
    padding-top: var(--level5);
    border: none;
  }
}


.search__input[aria-expanded="true"]+label {
  opacity: 0;
}

.search__button {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4rem;
}

.search__button svg {
  color: black;
  fill: black;
  height: 55%;
  width: 55%;
}

.predictive-search {
  opacity: 0;
  pointer-events: auto;
  position: relative;
  transition: all .2s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 3;
}


@media screen and (min-width: 940px) {
  .predictive-search {
    margin-left: auto;
    margin-right: auto;
    max-width: 92rem;
  }
}



.predictive-search--search-template {
  z-index: 2
}

predictive-search[open] .predictive-search {
  opacity: 1;
}

predictive-search[loading] .predictive-search {
  height: 0;
  opacity: 0;
}

.predictive-search__heading {
  align-items: center;
  color: rgb(var(--color-base-text));
  display: flex;
  font-size: var(--h6);
  justify-content: space-between;
  margin: 0 auto;
  padding-left: var(--level6);
  padding-top: var(--level6);
  text-transform: uppercase;
}

.predictive-search__results-list {
  column-gap: var(--level8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: var(--level6);
  padding-right: var(--level6);
  padding-top: var(--level5);
}

@media only screen and (min-width: 940px) {
  .predictive-search__results-list {
    column-gap: calc(var(--level5));
    grid-template-columns: repeat(8, 1fr);
    overflow: hidden;
    position: relative;
}
}



.predictive-search__item {
  display: flex;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.predictive-search__item--link {
  display: grid;
  grid-template-areas: 'product-image'
    'product-content';
  grid-template-columns: 1fr;
}

.predictive-search__item-content {
  display: flex;
  flex-direction: column;
  grid-area: product-content;
}

@media screen and (min-width: 940px) {
  .predictive-search__item-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.predictive-search__item-heading {
  font-family: var(--primary-font-family);
  font-size: var(--normal);
  font-weight: 300; 
  margin-bottom: var(--level2);
  text-align: center;
  width: 100%;
}


.price.predictive-search__item-price {
  font-size: var(--h5);
}

@media screen and (min-width: 940px) {
  .predictive-search__item-price {
    font-size: var(--h4) !important;
  }
}


/* 
predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
} */

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}




predictive-search[loading] .predictive-search__heading~.predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}



/* Hide Results on mobile to only show 2*/
.predictive-search__results-list .predictive-search__list-item:nth-child(2)~.predictive-search__list-item {
  display: none;
}

@media only screen and (min-width: 940px) {
  .predictive-search__results-list .predictive-search__list-item:nth-child(2)~.predictive-search__list-item {
    display: flex;
  }

  .predictive-search__results-list .predictive-search__list-item:nth-child(4)~.predictive-search__list-item {
    display: none;
  }
}

.predictive-search__results-list .predictive-search__list-item:nth-child(2)~.predictive-search-option-search-keywords {
  display: flex;
}


.predictive-search__list-item {
  margin-bottom: var(--level5);
}
@media screen and (min-width: 940px) {
  .predictive-search__list-item {
    margin-bottom: 0;
  }
}
.predictive-search-option-search-keywords {
  align-self: center;
  grid-column-end: 3;
  grid-column-start: 1;
  justify-content: center;
  justify-self: center;
  padding-top: var(--level3);
  width: 100%;
}

@media only screen and (min-width: 940px) {
  .predictive-search-option-search-keywords {
    grid-column-end: 5;
    margin-bottom: var(--level9);
  }
}

.predictive-search__cta {
  background-color: transparent;
  border: none;
  color: var(--color-base-text-1);
  display: block;
  font-family: var(--tertiary-font-family);
  font-size: var(--normal);
  letter-spacing: 2px;
  margin-bottom: var(--level6);
  margin-left: auto;
  margin-right: auto;
  margin-right: auto;
  max-width: 40rem;
  outline: 0;
  padding-bottom: var(--level1);
  padding-top: var(--level1);
  text-align: center;
  text-decoration: none;
  text-decoration: underline;
}


.predictive-search__cta:hover,
.predictive-search__cta:focus {
  text-decoration: none;
}



.predictive-search__list-item[aria-selected="true"]>*,
.predictive-search__list-item:hover>* {}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {}



/*------------------------------------*\
    #Images
\*------------------------------------*/


.predictive-search__image-container {
  grid-area: product-image;
  margin-bottom: var(--level2);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.predictive-search__image {
  object-fit: contain;
  padding-bottom: 140%;
  position: relative;
}

.predictive-search__image img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.search__input.field__input {
  padding-right: 5rem;
}

.search__button {
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);
}

.search__button:focus-visible {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:focus {
  background-color: rgb(var(--color-background));
  z-index: 2;
}

.search__button:not(:focus-visible):not(.focused){
  box-shadow: inherit;
  background-color: inherit;
}

.search__button .icon {
  height: 1.8rem;
  width: 1.8rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}


  /*------------------------------------*\
    #Header
\*------------------------------------*/


[data-sticky-header] {
    z-index: 2;
}


.header-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}


.header {
    position: relative;
    transition: all .6s var(--default-easing);
}

@media screen and (min-width: 940px) {
    .header {
        border-bottom: 0;
    }
}


.header__inner {
    align-items: center;
    display: grid;
    grid-template-areas: 'menu  heading cart-drawer';
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    margin: auto;
    position: relative;
    padding-left: var(--level2);
    padding-right: var(--level2);
}

@media screen and (min-width: 940px) {
    .header__inner {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: var(--level7);
        padding-top: calc(var(--level6) + var(--level6));
        width: 100%; 
        position: static;
    }
}

@media screen and (min-width: 1280px) {
    .header__inner {
        max-width: 100%;
    }
}

@media screen and (min-width: 1800px) {
    .header__inner {
        max-width: 106rem;
    }
}

.header header-drawer {
    justify-self: start;
}

.header *[tabindex='-1']:focus {
    outline: none;
}

.header__inline-menu {
    display: none;
}

@media screen and (min-width: 940px) {
    .header__inline-menu {
        display: flex;
    }
}





/*------------------------------------*\
    #Header Heading
\*------------------------------------*/


.header__heading {
    grid-area: heading;
    justify-self: center;
    line-height: 0;
    margin: 0;
    z-index: 2;
    width: auto; 
}

.header__heading-link  {
    display: block;
    width: 100%; 
}

@media screen and (min-width: 940px) {
    .header__heading {
        position: absolute;
    }
}


.header__logo {
    fill: rgb(var(--color-base-text-1));
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 19rem;
    transition: all var(--duration-default) var(--default-easing);
    z-index: 0;
    width: 47vw;
    min-width: 16rem;
    margin-top: 1rem; 
}


@media screen and (min-width: 1100px) {
    .header__logo {
        max-width: 22rem;
    }
}

@media screen and (min-width: 1280px) {
    .header__logo {
        max-width: 22rem;
    }
}


.header__logo svg {
    height: 100%; 
    width: 100%; 
}

.menu-open .header__logo {
    fill: rgb(var(--color-base-text-2));
}

@media screen and (min-width: 940px) {
    .header__logo {
        position: relative;
    }

}


.header__localization {
    display: none;
}





/*------------------------------------*\
    #Header Drawer Blocker
\*------------------------------------*/

.header-drawer-blocker {
    background: rgb(var(--color-base-background-1));
    border-bottom: 1px solid rgb(var(--color-base-text-2));
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease-in-out;
    width: 100%;
    z-index: 1;
}

.menu-open .header-drawer-blocker {
    background: rgb(var(--color-base-background-2));
}

@media screen and (min-width: 940px) {
    header-drawer {
        display: none;
    }
}





/*------------------------------------*\
    #Header Icons
\*------------------------------------*/

.header__icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 0; 
}

@media screen and (min-width: 940px) {
    .header__icons {
        position: absolute;
        right: 0;
        top: 0; 
        position: absolute;
        right: var(--level4);
        top: .75rem;
        color: rgb(var(--color-base-text-1));
        margin-left: auto;
        margin-right: auto;
        left: auto;
        right: auto;
        padding-right: var(--level3);
    }
}

@media screen and (max-width: 989px) {
    menu-drawer~.header__icons .header__icon--account {
        display: none;
    }
}

.header__icon {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    background-color: transparent;
    border: none;
    color: rgb(var(--color-base-text-1));
    display: block;
}

.header__icon:hover {
    cursor: pointer;
}

.header__icon .icon {
    fill: var(--color-base-text);
    vertical-align: middle;
}

.header__icon svg {
    height: 100%;
    width: 100%;
}


.header__icon--search {
    display: none;
}

@media screen and (min-width: 989px) {
    .header__icon--search {
        display: block;
    }
}




/*------------------------------------*\
    #Header Icons - Cart Toggle
\*------------------------------------*/
/* 

.header__icon--cart {
    background-color: transparent;
    border: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: calc(-1 * var(--level3));
    padding: 0;
    position: relative;
    top: -.15rem;
    transition: all var(--duration-default) ease-in-out;
    z-index: 1;
}


.header__icon svg {
    height: 100%;
    width: 100%;
}

.header.is-product-page .header__icon--cart {
    color: black;
}

.header.menu-open .header__icon--cart {
    color: black;
}



.header__icon--cart .icon {
    color: rgb(var(--color-base-text-1));
    stroke: rgb(var(--color-base-text-1));
}

.menu-open .header__icon--cart .icon {
    color: rgb(var(--color-base-text-1));
    stroke: rgb(var(--color-base-text-1));
}
 */




@media only screen and (min-width: 940px) {
    .header__icon--cart  {
        margin-right: 0;
    }

    .header__icon--cart .icon {
        margin-right: 0;
        color: rgb(var(--color-base-text-1));
        height: 80%; 
        width: 80%;
    }
}


.header__cart-button {
    background: transparent;
    border: none;
    color: rgb(var(--color-base-text-1));
    cursor: pointer;
    display: inline-block;
    font-size: var(--h4);
    height: auto;
    line-height: 1;
    list-style: none;
    margin-right: 0;
    padding: var(--level3);
    padding-bottom: var(--level1);
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
    transition: all var(--duration-default) ease 0s;
    width: auto;
}

@media only screen and (min-width: 940px) {
    .header__cart-button  {
        font-size: var(--h5);
        padding-top: var(--level1);
    }
}



.header__cart-button:hover,
.header__cart-button:focus {
    text-decoration: underline;
}


/* 
.header__icon--cart.is-open {
    opacity: .5;
}

@media screen and (min-width: 940px) {
    .header__icon--cart.is-open {
        opacity: 1;
    }
} */





/*------------------------------------*\
    #Header Cart - Cart Count
\*------------------------------------*/

.cart-count-bubble:empty {
    display: none;
}

.cart-count-bubble {
    align-items: center;
    background-color: rgb(var(--color-base-background-2));
    bottom: 15%;
    border-radius: 100%;
    color: #fff;
    display: flex;
    font-size: var(--primary-font-family);
    font-size: var(--mini);
    height: 1.15rem;
    justify-content: center;
    margin: auto;
    padding-top: 1px;
    position: absolute;
    right: 25%;
    text-decoration: none !important;
    width: 1.15rem;
}

.cart-count-bubble.is-hidden {
    opacity: 0;
}

.cart-count-bubble span {
    display: flex;
    height: 100%; 
    position: absolute;
}

.header__cart-button {
    align-items: center;
    display: flex;
}


.header__cart-button .cart-count-bubble {
    bottom: 0;
    font-size: var(--micro);
    height: 1.25rem;
    line-height: 1;
    margin-right: 0;
    padding-top: .2rem;
    right: -.5rem;
    top: 0;
    width: 1.25rem;
}

/* @media screen and (max-width: 989px) {
    menu-drawer ~ .header__icons .header__icon--account {
      display: none;
    }
  }

.header__icon {
   list-style-type: none;
  }

 */





</style>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper  gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
    endif

  -%}
  
  <header class="header">
   <div class="header__inner  page-width">

    {%- render 'header-drawer' -%}

    {% render 'header-mega-menu' %}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading" >
          {%-else-%}
          <div class="header__heading">
      {%-endif-%}
      <a href="{{ routes.root_url }}"   class="header__heading-link" title="Go to homepage"  >
              <div class="header__logo">
                <svg>
                  <use href="#brand-logo"/>
                </svg>
              </div>
              <span class="visually-hidden">Ajornada</span>
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%-else-%}
      </div>
      {%- endif -%}

    <div class="header__icons page-width">

    <div class="show-for-large-up">
    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--cart link focus-inset">
      {% render 'icon-account' %}
      <span class="visually-hidden">
        {%- liquid
          if customer
            echo 'customer.account_fallback' | t
          else
            echo 'customer.log_in' | t
          endif
        -%}
      </span>
    </a>
    </div>
    
      <div class="header__icon  header__icon--search">
        <search-toggle>
          <button  class="header__icon " id="search-modal-toggle" data-search-modal-toggle aria-expanded="false" aria-haspopup="dialog" aria-controls="search-modal">
            <span >     
              <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-search">
            </svg>
            </span>
          </button>
        </search-toggle>
      </div>

    {% comment %} <localization-form class="no-js-hidden header__localization">
      <div>
        <h2 class="visually-hidden" id="HeaderCountryLabel">
          {{ 'localization.language_label' | t }}
        </h2>
        {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
      </div>
    </localization-form> {% endcomment %}
    


      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble" data-cart-toggle>
        <svg class="icon icon-cart" aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-bag"></use>
        </svg>
        <span data-cart-toggle-text class="visually-hidden  header__cart-button__text">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
   </div>


   <div class="search-modal preload"  data-search-modal  aria-hidden="true"  id="search-modal" role="dialog" aria-modal="true" aria-labelledby="search-modal-toggle" aria-label="{{ 'general.search.search' | t }}">
    <div class="search-modal__content" tabindex="-1">
        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            <div class="search__input-container  page-width">
              <input class="search__input"
                id="Search-In-Modal-1"
                type="search"
                name="q"
                value=""
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
              >
              <label data-search-input-label  class="search__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
              <input type="hidden" name="options[prefix]" value="last">
              <button class="search__button" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-search">
                </svg>
              </button>
            </div>
              <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>
              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          </form>
        </predictive-search>

      {% comment %} <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
        <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
          <use href="#icon-close">
        </svg>
      </button> } {% endcomment %}
    </div>
  </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Mobile Navigation"
    },
    {
      "type": "text",
      "info": "The heading for the primary navigation",
      "default": "Shop",
      "id": "mobile_nav_heading",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "mobile_menu_primary",
      "label": "Primary Mobile Menu",
      "info": "The primary list of links to display on the mobile nav."
    },
    {
      "type": "link_list",
      "id": "mobile_menu_secondary",
      "label": "Secondary Mobile Menu",
      "info": "The secondary list of links to display on the mobile nav."
    },
    {
      "type": "header",
      "content": "Desktop Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },

    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    }
  ],
  "blocks": [
  {
    "type": "block",
    "name": "mega-menu",
    "settings": [
      {
        "type": "text",
        "id": "top_level_link",
        "label": "Top Level Link",
        "info": "The name of any top-level link that you wish to turn into a mega menu. Separate multiple links with commas. e.g. Shop,Collection,Blog"
      },
      {
        "type": "header",
        "content": "Promotions"
      },
      {
        "type": "image_picker",
        "id": "promotion_1_image",
        "label": "Promotion 1 Image"
      },
      {
        "type": "text",
        "id": "promotion_1_text",
        "label": "Promotion 1 Text"
      },
      {
        "type": "url",
        "id": "promotion_1_url",
        "label": "Promotion 1 URL"
      },
      {
        "type": "image_picker",
        "id": "promotion_2_image",
        "label": "Promotion 2 Image"
      },
      {
        "type": "text",
        "id": "promotion_2_text",
        "label": "Promotion 2 Text"
      },
      {
        "type": "url",
        "id": "promotion_2_url",
        "label": "Promotion 2 URL"
      },
      {
        "type": "image_picker",
        "id": "promotion_3_image",
        "label": "Promotion 3 Image"
      },
      {
        "type": "text",
        "id": "promotion_3_text",
        "label": "Promotion 3 Text"
      },
      {
        "type": "url",
        "id": "promotion_3_url",
        "label": "Promotion 3 URL"
      }
    ]
  }

  ]
}
{% endschema %}
