{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{% assign show = true %}

<script type="text/template" id="product-data">
  {
    "products":  [
      {% paginate collection.products by 1000 %}
        {%- for product in collection.products -%}
                {
                "collections": {{ product.collections | json }},
                "handle":   "{{ product.handle }}",
                "url":   "{{ product.url }}",
                "id":   "{{ product.id }}",
                "title":   "{{ product.title }}",
                "media" : {{ product.media | json }},
                "variants":   {{ product.variants | json }},
                "available":   {{ product.available | json }},
                "price": {{ product.price | json }},
                "compare_at_price": {{ product.compare_at_price | json }},
                "tags":   {{ product.tags | json }},
                "options_with_values": {{ product.options_with_values | json }}{%- unless product.metafields.color_swatch == empty -%},{%- endunless -%}
                {%- unless product.metafields.color_swatch == empty -%}
                "metafields": {
                  "color_swatch":  {
                    "name": "{{ product.metafields.color_swatch.name }}",
                    "hex_color": "{{ product.metafields.color_swatch.hex_color }}"
                    {%- for collectionz in product.collections -%}
                        {%- assign collectionName = collectionz.title | downcase | handleize -%}
                        {%- assign productName = product.title | downcase | split: " - " -%}
                        {%- assign productNameHandle = productName[0] | handleize -%}
                        {%- if productNameHandle == collectionName -%}
                          , "related_swatches": [
                          {%- assign activeCollection = collectionz -%}
                          {%- assign productz = activeCollection.products -%}
                            {%- for producti in productz -%}
                              {
                                "handle":   "{{ producti.handle }}",
                                "url":   "{{ producti.url }}",
                                "id":   "{{ producti.id }}",
                                "title":   "{{ producti.title }}",
                                "media" : {{ producti.media | json }},
                                "variants":   {{ producti.variants | json }},
                                "metafields": {
                                  "color_swatch":  {
                                    "name": "{{ producti.metafields.color_swatch.name }}",
                                    "hex_color": "{{ producti.metafields.color_swatch.hex_color }}"
                                  }
                                }
                              }{%- unless forloop.last -%},{%- endunless -%}
                            {%- endfor -%}
                          ]
                        {%- endif -%}
                      {%- endfor -%}
                  }
                }
                {%- endunless -%}
                } {%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
    {% endpaginate %}
    ]
  }
</script>

<div class="section-{{ section.id }}-padding" data-collection-id="{{ collection.handle }}">
  <div>
    {% assign paginationNum = 8 %}
    <collection-grid
      data-paginate-by="{{ paginationNum }}"
      data-collection-count="{{ collection.products.length }}"
      data-collection-url="{{ collection.url }}"
      data-section-id="{{ section.id }}"
    >
      <div class="product-grid-container" id="ProductGridContainer">
        <div class="collection page-width">
          <div class="loading-overlay gradient">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>

          <ul
            data-id="{{ section.id }}"
            class="grid product-grid"
          >
            {% paginate collection.products by 8 %}
              {%- for product in collection.products -%}
                <li class="grid__item" data-product-id="{{ product.id }}">
                  {% render 'product-card',
                    heading_level: 'h3',
                    card_product: product,
                    show_quick_add: 'true',
                    section_id: section.id,
                    product_collection: collection
                  %}
                </li>
              {%- endfor -%}
            {% endpaginate %}
          </ul>
        </div>
        {% if collection.products.length >= paginationNum %}
          <script src="{{ 'load-more-products-button.js' | asset_url }}" defer="defer"></script>
          <load-more-products-button
            data-paginate-by="{{ paginationNum }}"
            data-collection-total="{{ collection.products.length }}"
          >
            <div class="load-more-products-button-container">
              <button
                class="button button--primary  button--medium load-more-products-button"
                aria-label="Load more products in collection"
              >
                <span class="inner-text"> Load More <span class="visually-hidden">Products</span> </span>
                <span class="loader">
                  <span class="visually-hidden">Loading More Products</span>
                  <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </span>
              </button>
            </div>
          </load-more-products-button>
        {% endif %}
      </div>
    </collection-grid>
  </div>
</div>

<script src="{{ 'lodash.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'collection-grid.js' | asset_url }}" defer="defer"></script>
{% comment %} <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script> {% endcomment %}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "child_collection",
      "default": false,
      "info": "Turn this on only if this product grid will appear when a user gets to this page via a 'Shop All' link",
      "label": "Shop All Collection Page"
    }
  ]
}
{% endschema %}
