<link
  rel="stylesheet"
  href="{{ 'section-product-recommendations.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link
  rel="stylesheet"
  href="{{ 'component-product-card.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<product-recommendations
  class="product-recommendations page-width"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <div class="product-recommendations__inner  page-width is-small">
      <div class="product-recommendations__header">
        <div class="product-recommendations__header__inner">
          <h2 class="product-recommendations__header__heading {{ section.settings.heading_size }}">
            {{ section.settings.heading | escape }}
          </h2>

          <p class="product-recommendations__header__subline">Lorem Ipsum</p>
        </div>
      </div>

      <ul
        class="product-recommendations__product-list"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          {% if product.type == 'Merch' %}
            <li class="grid__item">
              {% render 'product-card',
                heading_level: 'h3',
                card_product: product,
                show_quick_add: 'true',
                section_id: section.id,
                product_collection: collection
              %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</product-recommendations>

{% javascript %}
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then((response) => response.text())
          .then((text) => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');

            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }

            if (html.querySelector('.grid__item')) {
              this.classList.add('product-recommendations--loaded');
            }
          })
          .catch((e) => {
            console.error(e);
          });
      };

      new IntersectionObserver(handleIntersection.bind(this), { rootMargin: '0px 0px 200px 0px' }).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "class": "section",
  "templates": ["product"],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.product-recommendations.settings.products_to_show.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-recommendations.name"
    }
  ]
}
{% endschema %}
