{{ 'section-recipe-post.css' | asset_url | stylesheet_tag }}

<article
  class="article-template section--main"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="page-width is-small ">
    <div class="recipe-header master-padding-top">
      <div class="recipe-header__inner ">
        <h1 class="recipe-header__subline">
          {{ article.title }}
        </h1>
        <p class="recipe-header__heading">Recipe</p>
      </div>
    </div>
    <div class="recipe-body" data-gsap-pin-trigger>
      <div class="recipe-images">
        <recipe-scroll-animations>
          <div class="recipe-images__inner">
            {{ article.content }}
          </div>
        </recipe-scroll-animations>
      </div>
      <div class="recipe-pinning-container" data-gsap-pin-element>
        <div class="recipe-information" data-hammer-swipe-element>
          <div class="recipe-information__inner">
            <recipe-information-toggle>
              <button class="recipe-information__toggle" aria-label="Slide up information panel">
                <span>Slide Up</span>
              </button>
            </recipe-information-toggle>

            <div class="recipe-information__header">
              <p class="recipe-information__name">{{ article.title }}</p>
              <p class="recipe-information__description">
                {{ article.excerpt }}
              </p>
            </div>
            <div class="recipe-information__section">
              <h2 class="recipe-information__section__heading">Ingredients</h2>
              <div class="recipe-information__section__body  ingredients-list">
                {{ article.metafields.recipe_details.ingredients | metafield_tag }}
              </div>
            </div>
            <div class="recipe-information__section">
              <h2 class="recipe-information__section__heading">Steps</h2>
              <div class="recipe-information__section__body  instructions-list">
                {{ article.metafields.recipe_details.instructions | metafield_tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<script type="module" src="{{ 'recipe-article.js' | asset_url }}" defer="defer"></script>
