<link rel="stylesheet" href="{{ 'section-recipes-featured.css' | asset_url }}" media="print" onload="this.media='all'">

<section
  class="recipes-featured-section {% if section.settings.top_border == 'yes' %}has-top-border{% endif %} {% if section.settings.bottom_border == 'yes' %}has-bottom-border{% endif %}"
  {% if section.settings.trigger_email_popup %}
    data-trigger-pop-up
  {% endif %}
>
  <div class="recipes-featured__inner">
    <div class="page-width">
      <div class="recipes-featured-header">
        <div class="recipes-featured-header__inner">
          <h2 class="recipes-featured-header__heading">
            {{ section.settings.headline }}
          </h2>
          <p class="recipes-featured-header__subline">
            {{ section.settings.subline }}
          </p>
        </div>
      </div>

      <div class="recipes-featured__card-list">
        <div class="recipes-featured__card-list__inner">
          <!-- Recipe Cards -->
          <custom-slideshow
            slidesPerView="auto"
            pagination="true"
            spaceBetween="20"
            centeredSlides="true"
            freeMode="false"
            centeredSlidesBounds="true"
            breakpoints='{"940": {"pagination": false, "spaceBetween": 80, "freeMode": true}}'
          >
            {%- for block in section.blocks -%}
              <click-to-flip {{ block.shopify_attributes }} data-green-dot-cursor>
                <div class="recipe-card i" data-flip-trigger tabindex="0">
                  <div class="recipe-card__inner">
                    <div class="recipe-card__flip-card">
                      <div class="recipe-card__flip-card__inner" data-card>
                        <div class="recipe-card__front">
                          <div class="recipe-card__image-container">
                            <svg focusable="false" class="recipe-card__flip-indicator">
                              <title>
                                Click card to flip it and reveal the recipe details
                              </title>
                              <use href="#icon-flip-indicator">
                            </svg>

                            <div class="recipe-card__image">
                              {%- assign image = block.settings.recipe_post.image -%}
                              <img
                                srcset="
                                  {%- if image.width >= 165 -%}
                                    {{ image | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if image.width >= 360 -%}
                                    {{ image | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if image.width >= 533 -%}
                                    {{ image | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if image.width >= 720 -%}
                                    {{ image | image_url: width: 720 }} 720w,{%- endif -%}
                                  {{ image | image_url }} {{ image.width }}w
                                "
                                src="{{ image | image_url: width: 100, height: 100, width: 200 }}"
                                sizes="(min-width: 1200px) 45vw, (min-width: 940px) 100vw-60vw, 90vw"
                                alt="{{ image.alt | escape }}"
                                class="motion-reduce responsive-image"
                                aria-hidden="true"
                                loading="lazy"
                                width="{{ image.width }}"
                                height="{{ image.height }}"
                              >
                            </div>
                          </div>
                        </div>
                        <div class="recipe-card__back">
                          <div class="recipe-card__back__background">
                            {%- assign image = section.settings.cards_background -%}
                            <img
                              srcset="
                                {%- if image.width >= 165 -%}
                                  {{ image | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if image.width >= 360 -%}
                                  {{ image | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if image.width >= 533 -%}
                                  {{ image | image_url: width: 533 }} 533w,{%- endif -%}
                                {%- if image.width >= 720 -%}
                                  {{ image | image_url: width: 720 }} 720w,{%- endif -%}
                                {{ image | image_url }} {{ image.width }}w
                              "
                              src="{{ image | image_url: width: 100, height: 100, width: 200 }}"
                              sizes="(min-width: 1200px) 45vw, (min-width: 940px) 100vw-60vw, 90vw"
                              alt="{{ image.alt | escape }}"
                              class="motion-reduce responsive-image"
                              aria-hidden="true"
                              loading="lazy"
                              width="{{ image.width }}"
                              height="{{ image.height }}"
                            >
                          </div>

                          <div class="recipe-card__back__content">
                            <p class="recipe-card__back__heading">
                              {{ block.settings.recipe_post.title }}
                            </p>

                            <div class="recipe-card__back__body">
                              <div class="recipe-card__preview">
                                <h2 class="recipe-card__preview__heading">Ingredients</h2>
                                <div class="recipe-card__preview__body  ingredients-list">
                                  {{ block.settings.recipe_post.metafields.recipe_details.ingredients | metafield_tag }}
                                </div>

                                <h2 class="recipe-card__preview__heading">Steps</h2>
                                <div class="recipe-card__preview__body  instructions-list">
                                  {{
                                    block.settings.recipe_post.metafields.recipe_details.instructions
                                    | metafield_tag
                                  }}
                                </div>
                              </div>
                            </div>

                            <div class="recipe-card__back__cta">
                              <a
                                href="{{ block.settings.recipe_post.url }}"
                                aria-label="Go to recipe page for  {{ block.settings.recipe_post.title }}"
                              >
                                Full Recipe
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a
                      href="{{ block.settings.recipe_post.url }}"
                      aria-label="Go to recipe page for  {{ block.settings.recipe_post.title }}"
                    >
                      <h2 class="recipe-card__recipe-name">
                        {{ block.settings.recipe_post.title }}
                      </h2>
                    </a>
                  </div>
                </div>
              </click-to-flip>
            {%- endfor -%}
          </custom-slideshow>
        </div>
      </div>

      <div class="recipes-featured__cta">
        <a
          class="styled-link"
          href="{{ section.settings.cta_url }}"
          aria-label="View all recipes from Ajornada"
          title="View all Ajornada recipes"
          data-green-dot-cursor
        >
          Explore Recipes
        </a>
      </div>
    </div>
  </div>
</section>

<script type="module" src="{{ 'custom-slideshow.js' | asset_url }}" defer="defer"></script>
<script type="module" src="{{ 'click-to-flip.js' | asset_url }}" defer="defer"></script>

{{ 'vendor-swiper.css' | asset_url | stylesheet_tag: preload: true }}

{% schema %}
{
  "name": "Recipes Featured",
  "enabled_on": {
    "templates": ["index", "page", "product", "blog", "article"]
  },
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "info": "Enter the headline for the Recipes Featured section."
    },
    {
      "type": "text",
      "id": "subline",
      "label": "Subline",
      "info": "Enter a subline or description for the Recipes Featured section."
    },
    {
      "type": "image_picker",
      "id": "cards_background",
      "label": "Cards Back Image",
      "info": "Select an image for the background of recipe cards."
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Section Call To Action",
      "info": "Enter the URL for the call to action button in this section (if applicable)."
    },
    {
      "type": "radio",
      "id": "top_border",
      "label": "Top Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no",
      "info": "Choose whether to display a top border for the Recipes Featured section."
    },
    {
      "type": "radio",
      "id": "bottom_border",
      "label": "Bottom Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes",
      "info": "Choose whether to display a bottom border for the Recipes Featured section."
    },
    {
      "type": "checkbox",
      "id": "trigger_email_popup",
      "label": "Trigger Email Pop Up",
      "info": "If checked, this section will trigger the email pop up.",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "recipe_card",
      "name": "Recipe Card",
      "settings": [
        {
          "type": "article",
          "id": "recipe_post",
          "label": "Recipe Post",
          "info": "Select the full recipe post to be linked from this card."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipes Featured Section"
    }
  ]
}
{% endschema %}
